:root { 
  --red:#bd9797;
  --green:#97bda5;
  --blue:#97a7bd;
  --yellow:#bdb497;
  --pink:#bd97b2;
  --orange: #bda797;
  --default:#96a1ac;
  --borco:#868a94;
  --back: url('../../wallpaper/light/home.svg') no-repeat center;
}
  #cover-bar{
    background-color: #966a85;
  }
 