/* 全局 */
:root{
  --global_dark_text:#cecece;
  --global_light_text:#484848;
}
[color="default"] {
  --dark_back: #4d4d4d92;
  --light_back: #d2d2d2b1;
  --base_text: #868686;
  --base_color: #787878;
  --dark_text: #cfcfcf;
  --light_text: #2e2e2e;
}

[color="green"] {
  --dark_back: #3b704d92;
  --light_back: #bce0c2b1;
  --base_text: #738a7b;
  --base_color: #488c62;
  --dark_text: #a9ffc3;
  --light_text: #2e4b38;
}

[color="blue"] {
  --dark_back: #374355b8;
  --light_back: #bfd4e9b1;
  --base_text: #3f5a80;
  --base_color: #4d5e7f;
  --dark_text: #d2e3f4;
  --light_text: #2f3e56;
}

[color="yellow"] {
  --dark_back: #706f3b92;
  --light_back: #ece6bfb1;
  --base_text: #7a753a;
  --base_color: #8d8753;
  --dark_text: #f1ecbb;
  --light_text: #4d481f;
}

[color="orange"] {
  --dark_back: #70583b92;
  --light_back: #e9d0bfb1;
  --base_text: #7a4e36;
  --base_color: #876844;
  --dark_text: #f1dbcb;
  --light_text: #472f1f;
}

[color="pink"] {
  --dark_back: #704d5e92;
  --light_back: #e8bfd3b1;
  --base_text: #875c6eb0;
  --base_color: #8e527c;
  --dark_text: #f3d3e4;
  --light_text: #4a2c3e;
}

[color="red"] {
  --dark_back: #703b3b92;
  --light_back: #e9bfbfb1;
  --base_text: #803f3f;
  --base_color: #8d5353;
  --dark_text: #f3c8c8;
  --light_text: #4a1e1e;
}

[mode="dark"]{
  --bg_color:var(--dark_back);
  --global_text:var(--global_dark_text);
  --wallpaper:url(../../assets/wallpaper/dark/home.svg);
  --text:var(--dark_text)
}
[mode="light"]{
  --wallpaper:url(../../assets/wallpaper/light/home.svg);
  --bg_color:var(--light_back);
  --global_text:var(--global_light_text);
  --text:var(--light_text)
}
/* css */
#app{
  all: unset;
  display: contents;
}
html, body {
  position: relative;
  margin: 0;
  padding: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  scrollbar-width: none;         
  -ms-overflow-style: none; 
}
body.no-scroll {
  overflow: hidden;
}

body::-webkit-scrollbar{
  display: none;
}
.hide-scrollbar {
  overflow: auto;             
  scrollbar-width: none;  
  -ms-overflow-style: none; 
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;              
}
.wallpaper{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: var(--wallpaper);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;
}
#root{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
button {
  all: unset;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
input{
  all:unset;
}
.btn{
  cursor: pointer;
  opacity: 0.7;
  width: 32px;
  height: 32px;
  background-color: rgba(165, 42, 42, 0.716);
  background-position: center;
  background-repeat: no-repeat;
}
.btn:hover{
opacity: 1;
}
.loading {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    z-index: 100;
    background: conic-gradient(
        rgba(100, 149, 237, 0.2),
        rgba(100, 149, 237, 0.8),
        rgba(100, 149, 237, 0.2)
    );
    mask: radial-gradient(transparent 55%, #000 56%);
    -webkit-mask: radial-gradient(transparent 55%, #000 56%);
    animation: load 0.7s linear infinite;
      }

      @keyframes load {
          0% { transform: rotate(0deg); }
          100% { transform: rotate(360deg); }
        }
.bg-enable{
  background-color: #000000a2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg-disable{
  display: none;
}
.float-win{
  z-index: 100;
}
#notify{
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
  min-width: 30px;
  width: fit-content;
  padding: 10px;
  min-height: 30px;
  height: fit-content;
  border-radius: 15px;
  background-color: rgba(0, 0, 255, 0.459);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: top 0.5s ease, opacity 0.5s ease;
}
#notify-text{
  color: aliceblue;
}
.tooltip{
  max-width: 50vw;
  height: fit-content;
    font-weight: bold;
    background-color: beige;
    border-radius: 15px;
  word-wrap: break-word;      /* 兼容旧浏览器 */
  overflow-wrap: break-word;  /* 推荐写法，现代浏览器标准 */
  white-space: normal;        
    padding: 10px;
    position: fixed;
    z-index: 100;
    pointer-events: none; 
    opacity: 0;
    transition:opacity 0.7s ease;
}