/* 全局 */
:root{
  --home_head_bar:var(--theme_color);
  --normal_win_bg_color :#0000001e;/* 搭配毛玻璃使用 */
  --global_dark_text:#cecece;
  --global_light_text:#484848;
  --float_win_bg_color:#00000091;
  --in_shadow: inset 4px 4px 7px rgba(0, 0, 0, 0.068),
             inset -4px -4px 7px rgba(0, 0, 0, 0.068),
             inset 4px -4px 7px rgba(0, 0, 0, 0.068),
             inset -4px 4px 7px rgba(0, 0, 0, 0.068);

--out_shadow: 5px 5px 20px rgba(0, 0, 0, 0.068),
              -5px -5px 20px rgba(0, 0, 0, 0.068),
              5px -5px 20px rgba(0, 0, 0, 0.068),
              -5px 5px 20px rgba(0, 0, 0, 0.068);

}
[color="default"] {
  --light_theme:#99999980;
  --dark_theme:#57575780;
  --dark_back: #525252b6;
  --light_back: #dbdbdb8a;
  --base_color: #787878;
  --dark_text: #cfcfcf;
  --light_text: #2e2e2e;
}

[color="green"] {
  --light_theme:#6e927b80;
  --dark_theme:#3e524580;
  --dark_back: #436355ab;
  --light_back: #9ccebcb1;
  --base_color: #567260;
  --dark_text: #a9ffc3;
  --light_text: #2e4b38;
}

[color="blue"] {
  --light_theme:#76819b80;
  --dark_theme:#42495780;
  --dark_back: #464e5eb8;
  --light_back: #95b4d4b1;
  --base_color: #5c6579;
  --dark_text: #92b7db;
  --light_text: #333e52;
}

[color="orange"] {
  --light_theme:#9f8a7280;
  --dark_theme:#594e4080;
  --dark_back: #635545a8;
  --light_back: #d6b59eb1;
  --base_color: #7c6c59;
  --dark_text: #ffd0ae;
  --light_text: #3f2e23;
}

[color="yellow"] {
  --light_theme:#8d896280;
  --dark_theme:#4f4d3880;
  --dark_back: #525234b5;
  --light_back: #ece6bfb1;
  --base_color: #6e6b4d;
  --dark_text: #f1ecbb;
  --light_text: #4d481f;
}

[color="pink"] {
  --light_theme:#8d6d8480;
  --dark_theme:#4f3d4a80;
  --dark_back: #583f4caf;
  --light_back: #dfaac4b6;
  --base_color: #6e5567;
  --dark_text: #f3d3e4;
  --light_text: #582f48;
}

[color="red"] {
  --light_theme:#855d5d80;
  --dark_theme:#4c353580;
  --dark_back: #703b3b92;
  --light_back: #e9bfbfb1;
  --base_color: #694949;
  --dark_text: #f3c8c8;
  --light_text: #4a1e1e;
}

[mode="dark"]{
  --theme_color:var(--dark_theme);
  --bg_color:var(--dark_back);
  --global_text:var(--global_dark_text);
  --wallpaper:url(../../assets/wallpaper/dark.svg);
  --text:var(--dark_text);
  --add_icon: url(../../assets/icon/add_dark.svg);
--addfolder_icon: url(../../assets/icon/addfolder_dark.svg);
--bin_icon: url(../../assets/icon/bin_dark.svg);
--cmd_icon: url(../../assets/icon/shell_dark.svg);
--copy_icon: url(../../assets/icon/copy_dark.svg);
--cut_icon: url(../../assets/icon/cut_dark.svg);
--delUser_icon: url(../../assets/icon/delUser_dark.svg);
--down_icon: url(../../assets/icon/down_dark.svg);
--download_icon: url(../../assets/icon/download_dark.svg);
--edit_icon: url(../../assets/icon/edit_dark.svg);
--eye_icon: url(../../assets/icon/eye_dark.svg);
--frame_icon: url(../../assets/icon/frame_dark.svg);
--goup_icon: url(../../assets/icon/goup_dark.svg);
--home_icon: url(../../assets/icon/home_dark.svg);
--left_icon: url(../../assets/icon/left_dark.svg);
--leftarr_icon: url(../../assets/icon/leftarr_dark.svg);
--leftRight_icon: url(../../assets/icon/leftRight_dark.svg);
--link_icon: url(../../assets/icon/link_dark.svg);
--load_icon: url(../../assets/icon/load_dark.svg);
--lock_icon: url(../../assets/icon/lock_dark.svg);
--logout_icon: url(../../assets/icon/logout_dark.svg);
--maximize_icon: url(../../assets/icon/maximize_dark.svg);
--minimize_icon: url(../../assets/icon/minimize_dark.svg);
--newUser_icon: url(../../assets/icon/newUser_dark.svg);
--no_icon: url(../../assets/icon/no_dark.svg);
--option_icon: url(../../assets/icon/option_dark.svg);
--paste_icon: url(../../assets/icon/paste_dark.svg);
--pen_icon: url(../../assets/icon/pen_dark.svg);
--photo_icon: url(../../assets/icon/photo_dark.svg);
--pic_home_icon: url(../../assets/icon/pic_home_dark.svg);
--play_icon: url(../../assets/icon/play_dark.svg);
--power_icon: url(../../assets/icon/power_dark.svg);
--recover_icon:url(../../assets/icon/recover_dark.svg);
--rightarr_icon: url(../../assets/icon/rightarr_dark.svg);
--save_icon: url(../../assets/icon/save_dark.svg);
--select_icon: url(../../assets/icon/select_dark.svg);
--setting_icon: url(../../assets/icon/setting_dark.svg);
--switch_icon: url(../../assets/icon/switch_dark.svg);
--time_icon:url(../../assets/icon/time_dark.svg);
--todown_icon: url(../../assets/icon/todown_dark.svg);
--toleft_icon: url(../../assets/icon/toleft_dark.svg);
--toright_icon: url(../../assets/icon/toright_dark.svg);
--toup_icon: url(../../assets/icon/toup_dark.svg);
--up_icon: url(../../assets/icon/up_dark.svg);
--upDown_icon: url(../../assets/icon/upDown_dark.svg);
--upload_icon: url(../../assets/icon/upload_dark.svg);
--video_icon: url(../../assets/icon/video_dark.svg);
--user_icon:url(../../assets/icon/user_dark.svg);
--yes_icon: url(../../assets/icon/yes_dark.svg);
--zoomin_icon: url(../../assets/icon/zoomin_dark.svg);
--zoomout_icon: url(../../assets/icon/zoomout_dark.svg);

}
[mode="light"]{
  --theme_color:var(--light_theme);
  --wallpaper:url(../../assets/wallpaper/light.svg);
  --bg_color:var(--light_back);
  --global_text:var(--global_light_text);
  --text:var(--light_text);
  --add_icon: url(../../assets/icon/add_light.svg);
--addfolder_icon: url(../../assets/icon/addfolder_light.svg);
--bin_icon: url(../../assets/icon/bin_light.svg);
--cmd_icon: url(../../assets/icon/shell_light.svg);
--copy_icon: url(../../assets/icon/copy_light.svg);
--cut_icon: url(../../assets/icon/cut_light.svg);
--delUser_icon: url(../../assets/icon/delUser_light.svg);
--down_icon: url(../../assets/icon/down_light.svg);
--download_icon: url(../../assets/icon/download_light.svg);
--edit_icon: url(../../assets/icon/edit_light.svg);
--eye_icon: url(../../assets/icon/eye_light.svg);
--frame_icon: url(../../assets/icon/frame_light.svg);
--goup_icon: url(../../assets/icon/goup_light.svg);
--home_icon: url(../../assets/icon/home_light.svg);
--left_icon: url(../../assets/icon/left_light.svg);
--leftarr_icon: url(../../assets/icon/leftarr_light.svg);
--leftRight_icon: url(../../assets/icon/leftRight_light.svg);
--link_icon: url(../../assets/icon/link_light.svg);
--load_icon: url(../../assets/icon/load_light.svg);
--lock_icon: url(../../assets/icon/lock_light.svg);
--logout_icon: url(../../assets/icon/logout_light.svg);
--maximize_icon: url(../../assets/icon/maximize_light.svg);
--minimize_icon: url(../../assets/icon/minimize_light.svg);
--newUser_icon: url(../../assets/icon/newUser_light.svg);
--no_icon: url(../../assets/icon/no_light.svg);
--option_icon: url(../../assets/icon/option_light.svg);
--paste_icon: url(../../assets/icon/paste_light.svg);
--pen_icon: url(../../assets/icon/pen_light.svg);
--photo_icon: url(../../assets/icon/photo_light.svg);
--pic_home_icon: url(../../assets/icon/pic_home_light.svg);
--play_icon: url(../../assets/icon/play_light.svg);
--power_icon: url(../../assets/icon/power_light.svg);
--recover_icon:url(../../assets/icon/recover_light.svg);
--rightarr_icon: url(../../assets/icon/rightarr_light.svg);
--save_icon: url(../../assets/icon/save_light.svg);
--select_icon: url(../../assets/icon/select_light.svg);
--setting_icon: url(../../assets/icon/setting_light.svg);
--switch_icon: url(../../assets/icon/switch_light.svg);
--time_icon:url(../../assets/icon/time_light.svg);
--todown_icon: url(../../assets/icon/todown_light.svg);
--toleft_icon: url(../../assets/icon/toleft_light.svg);
--toright_icon: url(../../assets/icon/toright_light.svg);
--toup_icon: url(../../assets/icon/toup_light.svg);
--up_icon: url(../../assets/icon/up_light.svg);
--upload_icon: url(../../assets/icon/upload_light.svg);
--upDown_icon: url(../../assets/icon/upDown_light.svg);
--user_icon:url(../../assets/icon/user_light.svg);
--video_icon: url(../../assets/icon/video_light.svg);
--yes_icon: url(../../assets/icon/yes_light.svg);
--zoomin_icon: url(../../assets/icon/zoomin_light.svg);
--zoomout_icon: url(../../assets/icon/zoomout_light.svg);

}
/* css */
/* 滚动条 */
* {
  scrollbar-width: thin !important;
  scrollbar-color: var(--text) var(--base_color) !important;
}
span, input{
  font-weight: bold;
  color: var(--text);
}
img{
   user-select: none;
  -webkit-user-select: none; 
  -moz-user-select: none;
  -ms-user-select: none;
}
button:disabled {
  pointer-events: none;
  opacity: 0.5;
}
#app{
  all: unset;
  display: contents;
}
html{
  user-select: none;
  background-color: var(--theme_color);
}
html, body {
   touch-action: manipulation;
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  scrollbar-width: none;         
  -ms-overflow-style: none; 
}
body.no-scroll {
  overflow: hidden;
}

body::-webkit-scrollbar{
  display: none;
}
svg{
  fill:var(--text) !important;
}
/* 滑动条样式 */
.range{
  -webkit-appearance: none;
  appearance: none;
    background-color: var(--base_color);
    box-shadow: var(--in_shadow);
    border-radius: 15px;
    color: var(--text);
    justify-content: center;
    align-items: center;
    
}
.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: var(--text);
  cursor: pointer;
  border: none;
}
.range::-moz-range-thumb {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: var(--text);
  border: none;
  cursor: pointer;
}
/*  */
.color-input {
  border-radius: 7px ; 
  -webkit-appearance: none;
  appearance: none;
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
}
.hide-scrollbar {
  overflow: auto;             
  scrollbar-width: none;  
  -ms-overflow-style: none; 
}
.color-input::-webkit-color-swatch-wrapper {
  padding: 0;
}

.color-input::-webkit-color-swatch {
  border: none;
  border-radius: 4px;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;              
}
.wallpaper{
  width: 100%;
  height: 100%;
  display: block !important;
  position: fixed;
  pointer-events: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--base_color) !important;
  background-image: var(--wallpaper);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
    background-blend-mode: overlay;
  z-index: -1;
}
#root{
  height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
button {
  all: unset;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
input{
  all:unset;
}
iframe{
  border-radius: 15px;
  border: none;
}
.btn{
  cursor: pointer;
  opacity: 0.7;
  width: 32px;
  height: 32px;
  background-position: center;
  background-repeat: no-repeat;
}
.loading {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    z-index: 100;
    background: conic-gradient(
        var(--text),
        var(--base_color),
        var(--text)
    );
    mask: radial-gradient(transparent 55%, #000 56%);
    -webkit-mask: radial-gradient(transparent 55%, #000 56%);
    animation: load 0.7s linear infinite;
      }

      @keyframes load {
          0% { transform: rotate(0deg); }
          100% { transform: rotate(360deg); }
        }
.bg-enable{
  background-color: var(--float_win_bg_color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg-disable{
  display: none;
}
.float-win{
  z-index: 100;
}
.notify{
  pointer-events: none;
  left: 50%;
  top: 200px;
  transform: translateX(-50%);
  position: fixed;
  min-width: 30px;
  width: fit-content;
  padding: 10px;
  min-height: 30px;
  height: fit-content;
  border-radius: 15px;
  color: var(--text);
  opacity: 0;
  background-color: var(--bg_color) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: transform 0.5s ease, opacity 0.5s ease;
}
.notify-show{
  transform: translateX(-50%) translateY(-100px);
  opacity: 1;
}
.notify-text{
  color: var(--text);
}
.notify-err{
  background-color: var(--bg_color);
}
.notify-err span{
  color: red !important;
}
.tooltip{
  background-color: var(--bg_color);
  color: var(--text);
  max-width: 50vw;
  height: fit-content;
    font-weight: bold;
    border-radius: 15px;
  word-wrap: break-word;      
  overflow-wrap: break-word;  
  white-space: normal;        
    padding: 10px;
    position: fixed;
    z-index: 100;
    pointer-events: none; 
    opacity: 0;
    transition:opacity 0.7s ease;
}
#confirm-win{
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 20px;
  border-radius: 15px;
  min-width: 400px;
  max-width: 90%;
  min-height: 150px;
  background-color: var(--bg_color);
}
#confirm-title{
  color: var(--global_text);
  font-size: 20px;
  margin-bottom: 30px;
}
#confirm-content{
  text-align: center;
  white-space: normal;
  word-wrap: break-word;   
  overflow-wrap: break-word;
}
#confirm-btn-bar{
  margin-top: 30px;
  height: 50px;
  width: 100%;
  bottom: 10px;
  display: flex;
  flex-direction: row-reverse;
}
.confirm-btn{
  box-shadow: var(--out_shadow);
  margin: 10px;
  background-color: var(--base_color);
  border-radius: 30px;
  min-width:100px !important;
  height: 90% !important;
  font-weight: bold;
  color: var(--text)
}
.confirm-err-text{
  color: red !important;
}
#menu-back{
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index:200;
}
#mouse-menu{
  position:fixed;
  background-color:var(--base_color);
  border-radius:15px;
  box-shadow:var(--out_shadow);
  min-width:fit-content;
  max-width:300px;
  display:flex;
  padding:10px;
  padding-right:20px;
  flex-direction:column;
  justify-content:start;
  text-align:start;
  color:var(--text);
  font-weight:bold;
  overflow:hidden;
}
.menu-item{
  width:auto;
  border-radius:15px;
  margin-top:5px;
  margin-bottom:5px;
  padding:5px 10px;
  cursor:pointer;
  white-space:normal;
  word-break:break-word;
  max-width:100%;
}

.menu-item:hover{
  background-color: var(--bg_color);
}
.menu-item-disabled{
  pointer-events: none;
  opacity: 0.5;
}
@media (hover: none) {
  .tooltip{
    display: none;
  }
}
@media (hover: hover) and (pointer: fine) {
.btn:hover{
opacity: 1;
}
}