/* 全局 */
:root{
  --global_dark_text:#cecece;
  --global_light_text:#484848;
  --float_win_bg_color:#00000091;
    --in_shadow:inset 4px 4px 7px rgba(0, 0, 0, 0.068),   
    inset -4px -4px 7px rgba(0, 0, 0, 0.068), 
    inset 4px -4px 7px rgba(0, 0, 0, 0.068),  
    inset -4px 4px 7px rgba(0, 0, 0, 0.068); 
    --out_shadow:5px 5px 20px rgba(0, 0, 0, 0.068),   
    -5px -5px 20px rgba(0, 0, 0, 0.068), 
    5px -5px 20px rgba(0, 0, 0, 0.068),  
    -5px 5px 20px rgba(0, 0, 0, 0.068); 
}
[color="default"] {
  --dark_back: #4d4d4d92;
  --light_back: #d2d2d2b1;
  --base_text: #868686;
  --base_color: #787878;
  --dark_text: #cfcfcf;
  --light_text: #2e2e2e;
}

[color="green"] {
  --dark_back: #31443cad;
  --light_back: #a3d6bbb1;
  --base_text: #738a7b;
  --base_color: #567260;
  --dark_text: #a9ffc3;
  --light_text: #2e4b38;
}

[color="blue"] {
  --dark_back: #2a303ab8;
  --light_back: #95b4d4b1;
  --base_text: #3f5a80;
  --base_color: #5c6579;
  --dark_text: #92b7db;
  --light_text: #333e52;
}

[color="yellow"] {
  --dark_back: #706f3b92;
  --light_back: #ece6bfb1;
  --base_text: #7a753a;
  --base_color: #8d8753;
  --dark_text: #f1ecbb;
  --light_text: #4d481f;
}

[color="orange"] {
  --dark_back: #4b3f3092;
  --light_back: #d3a98db1;
  --base_text: #7a4e36;
  --base_color: #7c6c59;
  --dark_text: #ffd0ae;
  --light_text: #3f2e23;
}

[color="pink"] {
  --dark_back: #704d5e92;
  --light_back: #e8bfd3b1;
  --base_text: #875c6eb0;
  --base_color: #8e527c;
  --dark_text: #f3d3e4;
  --light_text: #4a2c3e;
}

[color="red"] {
  --dark_back: #703b3b92;
  --light_back: #e9bfbfb1;
  --base_text: #803f3f;
  --base_color: #8d5353;
  --dark_text: #f3c8c8;
  --light_text: #4a1e1e;
}

[mode="dark"]{
  --bg_color:var(--dark_back);
  --global_text:var(--global_dark_text);
  --wallpaper:url(../../assets/wallpaper/dark/home.svg);
  --text:var(--dark_text);
  --add_icon: url(../../assets/icon/add_dark.svg);
--addfolder_icon: url(../../assets/icon/addfolder_dark.svg);
--bin_icon: url(../../assets/icon/bin_dark.svg);
--copy_icon: url(../../assets/icon/copy_dark.svg);
--cut_icon: url(../../assets/icon/cut_dark.svg);
--down_icon: url(../../assets/icon/down_dark.svg);
--download_icon: url(../../assets/icon/download_dark.svg);
--edit_icon: url(../../assets/icon/edit_dark.svg);
--goup_icon: url(../../assets/icon/goup_dark.svg);
--home_icon: url(../../assets/icon/home_dark.svg);
--left_icon: url(../../assets/icon/left_dark.svg);
--leftarr_icon: url(../../assets/icon/leftarr_dark.svg);
--load_icon: url(../../assets/icon/load_dark.svg);
--no_icon: url(../../assets/icon/no_dark.svg);
--option_icon: url(../../assets/icon/option_dark.svg);
--paste_icon: url(../../assets/icon/paste_dark.svg);
--photo_icon: url(../../assets/icon/photo_dark.svg);
--pic_home_icon: url(../../assets/icon/pic_home_dark.svg);
--power_icon: url(../../assets/icon/power_dark.svg);
--recover_icon:url(../../assets/icon/recover_dark.svg);
--rightarr_icon: url(../../assets/icon/rightarr_dark.svg);
--save_icon: url(../../assets/icon/save_dark.svg);
--setting_icon: url(../../assets/icon/setting_dark.svg);
--switch_icon: url(../../assets/icon/switch_dark.svg);
--todown_icon: url(../../assets/icon/todown_dark.svg);
--toleft_icon: url(../../assets/icon/toleft_dark.svg);
--toright_icon: url(../../assets/icon/toright_dark.svg);
--toup_icon: url(../../assets/icon/toup_dark.svg);
--up_icon: url(../../assets/icon/up_dark.svg);
--upload_icon: url(../../assets/icon/upload_dark.svg);
--video_icon: url(../../assets/icon/video_dark.svg);
--yes_icon: url(../../assets/icon/yes_dark.svg);
--zoomin_icon: url(../../assets/icon/zoomin_dark.svg);
--zoomout_icon: url(../../assets/icon/zoomout_dark.svg);

}
[mode="light"]{
  --wallpaper:url(../../assets/wallpaper/light/home.svg);
  --bg_color:var(--light_back);
  --global_text:var(--global_light_text);
  --text:var(--light_text);
  --add_icon: url(../../assets/icon/add_light.svg);
--addfolder_icon: url(../../assets/icon/addfolder_light.svg);
--bin_icon: url(../../assets/icon/bin_light.svg);
--copy_icon: url(../../assets/icon/copy_light.svg);
--cut_icon: url(../../assets/icon/cut_light.svg);
--down_icon: url(../../assets/icon/down_light.svg);
--download_icon: url(../../assets/icon/download_light.svg);
--edit_icon: url(../../assets/icon/edit_light.svg);
--goup_icon: url(../../assets/icon/goup_light.svg);
--home_icon: url(../../assets/icon/home_light.svg);
--left_icon: url(../../assets/icon/left_light.svg);
--leftarr_icon: url(../../assets/icon/leftarr_light.svg);
--load_icon: url(../../assets/icon/load_light.svg);
--no_icon: url(../../assets/icon/no_light.svg);
--option_icon: url(../../assets/icon/option_light.svg);
--paste_icon: url(../../assets/icon/paste_light.svg);
--photo_icon: url(../../assets/icon/photo_light.svg);
--pic_home_icon: url(../../assets/icon/pic_home_light.svg);
--power_icon: url(../../assets/icon/power_light.svg);
--recover_icon:url(../../assets/icon/recover_light.svg);
--rightarr_icon: url(../../assets/icon/rightarr_light.svg);
--save_icon: url(../../assets/icon/save_light.svg);
--setting_icon: url(../../assets/icon/setting_light.svg);
--switch_icon: url(../../assets/icon/switch_light.svg);
--todown_icon: url(../../assets/icon/todown_light.svg);
--toleft_icon: url(../../assets/icon/toleft_light.svg);
--toright_icon: url(../../assets/icon/toright_light.svg);
--toup_icon: url(../../assets/icon/toup_light.svg);
--up_icon: url(../../assets/icon/up_light.svg);
--upload_icon: url(../../assets/icon/upload_light.svg);
--video_icon: url(../../assets/icon/video_light.svg);
--yes_icon: url(../../assets/icon/yes_light.svg);
--zoomin_icon: url(../../assets/icon/zoomin_light.svg);
--zoomout_icon: url(../../assets/icon/zoomout_light.svg);

}
/* css */
span{
  font-weight: bold;
}
#app{
  all: unset;
  display: contents;
}
html, body {
  position: relative;
  margin: 0;
  padding: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  scrollbar-width: none;         
  -ms-overflow-style: none; 
}
body.no-scroll {
  overflow: hidden;
}

body::-webkit-scrollbar{
  display: none;
}
.hide-scrollbar {
  overflow: auto;             
  scrollbar-width: none;  
  -ms-overflow-style: none; 
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;              
}
.wallpaper{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--base_color) !important;
  background-image: var(--wallpaper);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
    background-blend-mode: overlay;
  z-index: -1;
}
#root{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
button {
  all: unset;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
input{
  all:unset;
}
.btn{
  cursor: pointer;
  opacity: 0.7;
  width: 32px;
  height: 32px;
  background-color: #ff0000;
  background-position: center;
  background-repeat: no-repeat;
}
.btn:hover{
opacity: 1;
}
.loading {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    z-index: 100;
    background: conic-gradient(
        rgba(100, 149, 237, 0.2),
        rgba(100, 149, 237, 0.8),
        rgba(100, 149, 237, 0.2)
    );
    mask: radial-gradient(transparent 55%, #000 56%);
    -webkit-mask: radial-gradient(transparent 55%, #000 56%);
    animation: load 0.7s linear infinite;
      }

      @keyframes load {
          0% { transform: rotate(0deg); }
          100% { transform: rotate(360deg); }
        }
.bg-enable{
  background-color: var(--float_win_bg_color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg-disable{
  display: none;
}
.float-win{
  z-index: 100;
}
#notify{
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
  min-width: 30px;
  width: fit-content;
  padding: 10px;
  min-height: 30px;
  height: fit-content;
  border-radius: 15px;
  background-color: rgba(0, 0, 255, 0.459);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: top 0.5s ease, opacity 0.5s ease;
}
#notify-text{
  color: aliceblue;
}
.tooltip{
  background-color: var(--bg_color);
  color: var(--text);
  max-width: 50vw;
  height: fit-content;
    font-weight: bold;
    border-radius: 15px;
  word-wrap: break-word;      /* 兼容旧浏览器 */
  overflow-wrap: break-word;  /* 推荐写法，现代浏览器标准 */
  white-space: normal;        
    padding: 10px;
    position: fixed;
    z-index: 100;
    pointer-events: none; 
    opacity: 0;
    transition:opacity 0.7s ease;
}