body{
            
    overflow-x: hidden !important;
    align-items: center;
    background-attachment:fixed;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 100%;
    padding: 0;
    background-color: #27241b;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-width: 100% ;
    overflow-x: hidden !important;
}
.ui-tooltip {
    background: #857e638f; 
    color: #ffd9a5; 
}
.backbtn:hover #name{
background-image: url(../../icon/name_white.svg);
}
#top-bar{
    top: -300px;
    width: 80%;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: fit-content;
    z-index: 11;
    transition: all 1s ease;
}
#btn-bar{
    display: flex;
    flex-direction: row;
}
#toscreen{
    cursor: pointer;
    background-image: url(../../icon/toscreen_yellow.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    margin: 10px;
   
}
#toscreen:hover{
    background-image: url(../../icon/toscreen_white.svg);
}
#reload{
    cursor: pointer;
    background-image: url(../../icon/load_yellow.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    margin: 10px;
}
#reload:hover{
    background-image: url(../../icon/load_white.svg);
}
#media-bar{
    position: relative;
    margin: 20px;
width: 30%;
height: 90px;
background-color: #80725196;
border-radius: 2em;
display: flex;
flex-direction: column;
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(10px);
text-align: center;
align-items: center;
z-index: 3;
transition: all 1s ease;
box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.068),   
-5px -5px 20px rgba(0, 0, 0, 0.068), 
5px -5px 20px rgba(0, 0, 0, 0.068),  
-5px 5px 20px rgba(0, 0, 0, 0.068);
}
#title-space{
overflow: hidden;
max-width: 70%;
width: 200px;
white-space: nowrap;
border-radius: 1em;
justify-content: center;
align-items: center;
padding-bottom: 10px;
}
#media-title{
font-weight: bold;
margin-top: 10px;
color: #ffd9a5;
display: inline-block;

}
#notify{
    background-color: #857e638f;
}
#notifytext{
    color: #ffd9a5;
}
@keyframes media-title {
0% {
transform: translateX(-100%); 
}
100% {
transform: translateX(100%); 
}

}
@keyframes toscreen {
    0% {
      background-color: #6b5f3496;
    }
    50% {
      background-color: #85794f96;
    }
    100% {
        background-color: #6b5f3496;
    }
  }
#media-tool{
position: relative;
bottom: 0;
width: 100%;
display: flex;
flex-direction: row;
height: 60px;
align-items: center;
justify-content: center;
}
.media-btn{
cursor: pointer;
background-position: center;
background-repeat: no-repeat;
width: 32px;
height: 32px;
margin: 10px;
}
#slow{
background-image: url(../../icon/slow_yellow.svg);
}
#slow:hover{
background-image: url(../../icon/slow_white.svg);
}
#play{
background-image: url(../../icon/play_yellow.svg);
}
#play:hover{
background-image: url(../../icon/play_white.svg);
}
#pause{
background-image: url(../../icon/pause_yellow.svg);
}
#pause:hover{
background-image: url(../../icon/pause_white.svg);
}
#speed{
background-image: url(../../icon/speed_yellow.svg);
}
#speed:hover{
background-image: url(../../icon/speed_white.svg);
}
#allwindow{
align-items: center;
position: relative;
width: 100%;
top: 300px ;
right: -100%;
z-index: 2;
display: flex;
align-items: center;
flex-direction: column;
transition: all 1s ease;
}
.window {   
font-weight: bold;
padding-top: 10px;
padding-bottom: 10px;
   width: 80%;
   margin-bottom: 25px;
   border-radius: 1em;
   min-height: 70px;
    position: relative; 
    background-color: #857e638f;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.068),   
-5px -5px 20px rgba(0, 0, 0, 0.068), 
5px -5px 20px rgba(0, 0, 0, 0.068),  
-5px 5px 20px rgba(0, 0, 0, 0.068);
}
.title{
    top: 10px;
    left: 10px;
    display: block;
    position: relative;
    padding: 10px;
    max-width: 70%;
    word-wrap: break-word;
    color: #ffd9a5;
}
.close-win {
    display: flex;
    position: absolute;
    top: 5px;
    right: 10px;
    padding: 5px;
    width: 32px;
    height: 32px;
    background-color: transparent;
    background-image: url(../../icon/no_yellow.svg);
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    border: none;
    cursor: pointer;
}
.close-win:hover{
    background-image: url(../../icon/no_red.svg);
}
   /* toolkit */
   #tool-bar{
    margin: 20px;
    height: 150px;
    position: relative;
    display: flex;
    width: 50%;
    background-color: #80725196;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 2em;
    align-items: center;
    flex-direction: column;
    z-index: 3;
     animation: none;
     transition: all 1s ease;
     box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.068),   
     -5px -5px 20px rgba(0, 0, 0, 0.068), 
     5px -5px 20px rgba(0, 0, 0, 0.068),  
     -5px 5px 20px rgba(0, 0, 0, 0.068);
}
   .slider-container {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    transition: all 1s ease;
}

.slider-container button {
    margin-right: 10px;
    
}

.volum-bar, .brightness-bar {
    border-radius: 1em;
    position: relative;
    width: 100%;
    height: 20px;
    background-color: transparent;
    justify-content: center;
    box-shadow: inset 4px 4px 7px rgba(0, 0, 0, 0.028),   
      inset -4px -4px 7px rgba(0, 0, 0, 0.028), 
      inset 4px -4px 7px rgba(0, 0, 0, 0.028),  
      inset -4px 4px 7px rgba(0, 0, 0, 0.028); 
}

.volum-fill, .brightness-fill {
    border-radius: 1em;
    position: absolute;
    height: 100%;
    background-color: #b8a774;
    width: 50%; /* Default to 50% */
    box-shadow: inset 4px 4px 7px rgba(0, 0, 0, 0.028),   
      inset -4px -4px 7px rgba(0, 0, 0, 0.028), 
      inset 4px -4px 7px rgba(0, 0, 0, 0.028),  
      inset -4px 4px 7px rgba(0, 0, 0, 0.028); 
}

.volum-thumb, .brightness-thumb {
    right: -20px;
    position: absolute;
    width: 24px;
    height: 24px;
    background-color: #ceb586;
    cursor: pointer;
    border-radius: 1em;
    top: -2px;
    transform: translateX(-50%);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.028),   
-5px -5px 20px rgba(0, 0, 0, 0.028), 
5px -5px 20px rgba(0, 0, 0, 0.028),  
-5px 5px 20px rgba(0, 0, 0, 0.028); 
}
#min-brightness-button{
    cursor: pointer;
    width: 24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 10px;
    background-image: url(../../icon/light_yellow.svg);
}
#min-brightness-button:hover{
    background-image: url(../../icon/light_white.svg);
}
#mute-button{
    cursor: pointer;
    width: 24px;margin-right: 10px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 10px;
    background-image: url(../../icon/volum_yellow.svg);
}
#mute-button:hover{
    background-image: url(../../icon/volum_white.svg);
}
#top-btn{
    background-image: url(../../icon/toup_yellow.svg);
    background-color: #857e638f;
}
#top-btn:hover{
    background-image: url(../../icon/toup_white.svg);
    background-color: #8d82558f;
}
    @media only screen and (max-width: 600px) {
        

    .phone_background {
    position:relative;
    overflow:hidden;
    overflow-x: hidden;
}
.phone_background .fixed {
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:no-repeat center center;
    background-size:cover;
    z-index:0;
    overflow:hidden;
    overflow-x: hidden;
}
.next {
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  background:no-repeat center center;
  background-size:cover;
    overflow:hidden;
    overflow-x: hidden; 
    opacity: 0;
    transition: opacity 1s ease ; 
    z-index: 1;
}
.backbtn{
  width: 25% ;
}
#top-bar{
    top: -350px;
    flex-direction: column;
}
#media-bar{
    width: 100%;
}
#tool-bar{
    width: 100%;
}
#allwindow{
    top: 430px;
}
    }