body {
    background-image: url(../../wallpaper/dark/orange.svg);
  }

  #cover-bar{
    background-color: #2e2924ab;
  }
  @media only screen and (max-width: 600px) {
  .phone_background .fixed {
    background:no-repeat center center;
    background-image: url(../../wallpaper/dark/pink.svg);
  }
    }