  .backbtn{
    background-image: url(../../icon/left_orange.svg);
    }
   .ui-tooltip {
          background: #80655486; 
          color: #ffc89c; 
      }
      
  body {
    overflow-x: hidden !important;
    
    font-size: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--orange);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transition: background-image 1s ease;
  }
      #option-bar{
        opacity: 0;
        padding-top: 5%;
        flex-direction: column;
        display: flex;
        align-items: center;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        /* justify-content: center; */
        left: -60px;
        position: fixed;
        height: 100%;
        width: 60px;
        background-color: #7e6e61a6;
        z-index: 11;
        box-shadow: var(--outshadow);
        transition: left 1s ease , opacity 1s ease;
        
      }
      #sidepage{
        background-color: #66584bb7;
      }
      .side-btn:hover{
        background-color: #856a537c;
      }
      .option-btn{
        opacity: 0.5;
          top: 80px;
          margin-top: 30px;
          position: relative;
          cursor: pointer;
          width: 32px;
          height: 32px;
          background-position: center;
          background-repeat: no-repeat;
          margin: 10px;
      }
      .option-btn:hover{
        opacity: 1;
      }
#open-side{
  opacity: 0.5;
  position: absolute;
  top: 50px;
  background-image: url(../../icon/option_white.svg);
}
#open-side:hover{
  opacity: 1;
}
  #loadButton{
    background-image: url(../../icon/load_orange.svg);
  }
  #recover{
    background-image: url(../../icon/recover_orange.svg);
  }
  #closebar{
    opacity: 0.5;
    width: 40px;
    height: 40px;
    margin: 0;
    position: absolute;
    top: 500px;
    right: 0;
    background-image: url(../../icon/goleft_orange.svg);
  }
  #closebar:hover{
    opacity: 1;
  }
  #openbar{
    border-radius: 50%;
    display: none;
    margin: 0;
    position: fixed;
    top: 500px;
    left: 5px;
    background-image: url(../../icon/goright_orange.svg);
    z-index: 9;
  }
  #openbar:hover{
    background-color: #96848c4d;
  }
  #cleanall{
    background-image: url(../../icon/bin_orange.svg);
  }
  .li-btn{
    right: 0;
    top: 10px;
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    right: 10px;
  }
      .main{
        margin-left: 60px;
      }
  form {
    width: 80%;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #customFileUpload {
    display: none;
  }
  #selectedFileName {
    height: fit-content;
    font-size: 20px;
    margin-top: 2px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    color: #0000008c;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    position:relative;
    max-width: 80%;
  }
  #filename{
    height: fit-content;
    font-size: 20px;
    margin-left: 1%;
    margin-top: 2px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    color: #0000008c;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    position:relative;
    max-width: 80%;
  }
  #fileListContainer {
    opacity: 0;
    justify-content: center;
    display: flex;
    overflow-y: hidden;
    margin-top: 150px;
    width: 100%;
    position: relative;
    border: none;
    background-color: transparent;
    overflow: hidden;
    z-index: 2;
    margin-bottom: 2em;
    overflow: visible;
    transition: all 1s ease;
    
  }
  #top-bar{
    top: -60px;
    border-radius: 1em;
     background-color: #816c54a6;
     backdrop-filter: blur(10px);
     -webkit-backdrop-filter: blur(10px);
    display:inline-flex;
    height: 60px;
    width: 80%;
    position: fixed;
    overflow: hidden;
    z-index: 10;
    transition: height 1s ease, top 1s ease , width 1s ease,margin-left 1s ease,background-color 1s ease ;
    box-shadow: var(--outshadow)  
  }
 
  .path-bar{
    background-color: transparent;
    overflow: hidden;
    width: 92%;
    max-width: 95%;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 0.5%;
    border-radius: 1em;
    position: relative;
    z-index: 10;
    box-shadow: var(--inshadow);
  }
  

  #currentPath{
    height: fit-content;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 1%;
    text-align: left;
    font-weight: bold;
    color: #ecb791;
    overflow-x: hidden;
    z-index: 10;
  }
  
  #upButton{
    opacity: 0.5;
    cursor: pointer;
    background-color: transparent;
    border: none;
    width: 32px;
    max-height: 32px;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 10px;
    z-index: 10;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../../icon/goup_orange.svg);
  }
  #upButton:hover{
    opacity: 1;
  }
  #fileList {
    width: 80%;
    padding: 0;
    list-style: none;
    position: relative;
  }

  .files {
    cursor: pointer;
    margin-bottom: 1em;
    display: flex;
    height: 70px;
    max-height: 70px;
    background-color: #85776586;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    font-size: 120%;
    border-bottom: none;
    padding: 1.4%;
    position: relative;
    text-overflow: ellipsis;
    border-radius: 1em;
    transition: all 1S ease, transform 0.5s ease;
    box-shadow: var(--outshadow) 
  }
 
  .files:hover{
    transform: scale(1.05);
  }
.selected{
  background-color: #8566439c;
}
  .fileLink {
    
    color: #ffc197;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 10%;
    max-width: 100% !important;  
  }
  .fileLink:hover,.folderLink:hover{
    color: #ffffff;
  }
  .folderLink {
    color: #e0aa86;
    text-decoration: underline; /* 添加下划线 */
    font-weight: bold;
    margin-right: 10%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100% !important;  
  }
  .oripath{
    white-space: nowrap;
    max-width: 30%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    font-size: 20px;
    margin-right: 10px;
    color: #b19e90;
  }
#top-btn{
background-image: url(../../icon/toup_orange.svg);
background-color: #85756586;
}
#top-btn:hover{
background-color: #6d51379a;
}

  #notify{
    background-color: #85736586;
  }
  #notifytext{
    color: #ffc7b6;
  }
      
      @keyframes rotate-loading {
          0% {
              transform: rotate(0deg);
          }

          100% {
              /* 顺时针旋转360度 */
              transform: rotate(360deg);
          }
      }
  @media only screen and (max-width: 600px) {
    .main{
      margin-left: 0;
    }
  .pc-only{
    display: none;
  }
  #phone-back{
  background-color: var(--orange);  
  }
  .fileLink {
    

    max-width: 200px ; 
}

.path-bar{
    
    max-width: 70%;
    
  }
  
  #option-bar{
    left: 0;
    padding-top: 0;
    align-items: center;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 60px;
    width: 100%;
    bottom: 0;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 10;
}
.option-btn{
  top: auto;
  margin-top: 10px;
  position: relative;
  cursor: pointer;
  width: 24px;
  height: 24px;
  margin: 15px;
  background-position: center;
  background-repeat: no-repeat;
}
#open-side{
  top: auto;
  margin-left: 0;
  left: 5px;
}
.files:hover{
background-color: #85657f86;
}
.selected{
  background-color: #8543799c !important;
}
.phone_background .fixed {
  background-color: var(--orange);
}
  }