
#go-up{
    margin-left: 10px;
}
#show-path{
    cursor: default;
    display: flex;
    align-items: center;
    margin-right: 10px;
    width: 100%;
    height: 100%;
    margin-left: 10px;
  white-space: nowrap;       
  overflow: hidden;           
  text-overflow: ellipsis; 
  z-index: 2;
}

.go-up-disable:hover{
    cursor:default;
    opacity: 0.7 !important;

}
.file-item{
    width: 120px;
    height: 120px;
}
.file-item svg{
    fill: var(--bg_color);
}
.file-name-box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
  white-space: nowrap;       
  overflow: hidden;           
  text-overflow: ellipsis; 
  text-align: center;
  justify-content: center;
  align-items: center;
}
.file-name{
    cursor: pointer;
    width: fit-content;
    max-width: 80%;
    white-space: nowrap;       
    overflow: hidden;
    text-overflow: ellipsis;  
}
.file-item-frame{
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: fit-content;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 30px;
    transition: transform 0.3s ease;
}
.file-item-frame:hover svg  {
    fill: var(--base_color) !important;
}
.file-item-frame:hover{
    transform: scale(1.2);
}
.file-item-box{
    position: relative;
    display: flex;
    margin: 5px;
}