
#go-up{
    margin-left: 10px;
}
#show-path{
    cursor: default;
    display: flex;
    align-items: center;
    margin-right: 10px;
    width: 100%;
    height: 100%;
    margin-left: 10px;
  white-space: nowrap;       
  overflow: hidden;           
  text-overflow: ellipsis; 
  z-index: 2;
}

.go-up-disable:hover{
    cursor:default;
    opacity: 0.7 !important;

}