#content{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
.doc-list{
    cursor: pointer;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 80px;
    padding: 10px;
    border-radius: 15px;
    margin: 20px;
    margin-bottom: 30px;
}
.doc-list-selected{
    background-color: var(--base_color) !important;
}
.doc-list-selected::before{
    background-color: var(--bg_color) !important;
}
.dir-item::before{
    content: "";
    top: -20px;
    left: 10px;
    position: absolute;
    width: 100px;
    height: 20px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: var(--base_color);
}

.file-list-text {
    cursor: pointer;
    width: fit-content;
    max-width: 80%;
    white-space: nowrap;       
    overflow: hidden;
    text-overflow: ellipsis;  
}

.file-list-input{
    cursor: text;
    color: var(--text);
}
.file-edit-btn{
    width: 20px !important;
    height: 20px !important;
    position: absolute;
    right: 10px;
    top: 10px;
}
.dir-text{
    text-decoration: underline;
}
#top-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}
#top-bar-box{
    flex: 1;
    margin-left: 10px;
    margin-right: 10px;
    height: 70%;
    position: relative;
    width: 80%;
    color: var(--text);
    box-shadow: var(--in_shadow);
    display: flex;
    align-items: center;
    border-radius: 15px;
    overflow: hidden;
}
#new-dir-input{
    color: var(--text);
    padding-left: 10px;
    background-color: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
}
#new-dir-save{
    right: 10px;
    position: absolute;
}
.new-dir-btn{
    margin-right: 10px;
}
.down-btn{
    width: 20px!important;
    height: 20px!important;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
#paste{
    animation: paste 1s ease-in-out infinite;
}
#home-icon{
    position: relative;
    left: 10px;
    margin-right: 5px;
    width: 32px;
    height: 32px;
    opacity: 1;
    z-index: 2;
}
#upload-opt{
    width: 400px;
    height: 300px;
    position: fixed;
    display: flex;
    top: 300px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--bg_color);
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
#close-upload{
    position: absolute;
    top: 10px;
    left: 10px;
}
.upload-opt-btn{
    margin: 10px !important;
    width: 100px !important;
    height: 100px !important;
    transition: transform 0.3s ease-in-out;
}
#progress{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    background-color: var(--base_color);
    height: 100%;
    border-radius: 15px;
    left: 0;
    right: 0;
    z-index: 1;
}
#progress-text{
    position: absolute;
    left: 50%;
    z-index: 2;
}
#uploading-back{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
}
#drag-win{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    pointer-events: none;
    justify-content: center;
    align-items: center;
    background-color: var(--float_win_bg_color);
}
#drag-win div{
    width: 200px;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
}


#file-win{
    background-color: var(--body_color);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 13;
}
.file-view-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    min-width: 80vw;
    min-height: 80vh;
    width: 100%;
    height: 100%;
    
}
.file-view{
    flex: 1;
    width: 100%;
    height: 100%;
}
.file-win-btn-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 15px;
}
.file-win-btn{
    margin: 5px;
}
.full-screen{
    position: fixed !important;
    top: auto !important;
    left: auto !important;
    width: 100vw !important;
    height: 100vh !important;
    z-index: 10;
}
.ext-full-screen-btn{
    position: fixed;
    border-radius: 50%;
    right: 20px;
    bottom: 20px;
    z-index: 11;
    background-color: var(--bg_color);
}
.ext-full-screen-btn svg{
    width: 20px !important;
    height: 20px !important;
}
.link-btn{
    width: 20px !important;
    height: 20px !important;
    position: absolute;
    bottom: 10px;
    left: 10px;
}
#link-win{
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    min-width: 100px;
    width: 100%;
    max-width: 95%;
    min-height: 60px;
    padding: 10px;
}
#link-win span{
    cursor: pointer;
    font-weight: bold;
    color: var(--text);
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
     text-decoration: underline;
    text-decoration-line: underline;
  white-space: normal;
  word-wrap: break-word;   
  overflow-wrap: break-word;
}
#link-win span:hover{
    color: var(--global_text);
}
.link-win-btn{
    width: 20px !important;
    height: 20px !important;
}
#copy-link-btn{
    position: absolute;
    bottom: 10px;
    right: 10px;
}
  @keyframes paste {
    0% {
      opacity: 0.5;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.5;
    }
  }
  @media (max-width: 600px){
    .doc-list{
        margin: 10px;
    margin-bottom: 30px;
    }
  }
  @media (hover: hover) and (pointer: fine) {
.doc-list:hover{
    background-color: var(--base_color);
}
.doc-list:hover::before{
    background-color: var(--bg_color);
}

  }