#content{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
.doc-list{
    cursor: pointer;
    display: flex;
    position: relative;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 80px;
    padding: 10px;
    background-color: aqua;
    border-radius: 15px;
    margin: 10px;
}
.doc-list:hover{
    background-color: #2d8173a2;
}
.doc-list-selected{
    background-color: #2d8173a2;
}
.file-list-text {
    cursor: pointer;
    width: 80%;
    white-space: nowrap;       
    overflow: hidden;
    text-overflow: ellipsis;  
}

.file-list-input{
    cursor: text;
}
.file-edit-btn{
    width: 20px !important;
    height: 20px !important;
    background-color: antiquewhite;
    position: absolute;
    right: 10px;
    top: 10px;
}
#list-loading{
    position: fixed;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    background: conic-gradient(
        #bbfff4a2,
        #41ad9ba2,
        #bbfff4a2
    );
}
.dir-text{
    text-decoration: underline;
}
#top-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}
#go-up{
    background-image: url(../../assets/icon/goup_green.svg);
    margin-left: 10px;
}
.go-up-disable:hover{
    cursor:default;
    opacity: 0.7 !important;

}
#show-path{
    cursor: default;
    display: flex;
    align-items: center;
    margin-right: 10px;
    width: 100%;
    height: 100%;
    margin-left: 10px;
  white-space: nowrap;       
  overflow: hidden;           
  text-overflow: ellipsis; 
  z-index: 2;
}
#top-bar-box{
    flex: 1;
    margin-left: 10px;
    margin-right: 10px;
    height: 70%;
    position: relative;
    width: 80%;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    border-radius: 15px;
    overflow: hidden;
}
#new-dir-input{
    padding-left: 10px;
    background-color: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
}
#new-dir-save{
    right: 10px;
    position: absolute;
}
.new-dir-btn{
    margin-right: 10px;
}
.down-btn{
    background-image: url(../../assets/icon/download_green.svg);
    width: 20px!important;
    height: 20px!important;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.side-btn{
    margin: 10px;
}
#paste{
    background-image:url(../../assets/icon/paste_green.svg);
    animation: paste 1s ease-in-out infinite;
}
#home-icon{
    position: relative;
    left: 10px;
    background-image: url(../../assets/icon/home.svg);
    margin-right: 5px;
    width: 32px;
    height: 32px;
    opacity: 1;
    z-index: 2;
}
#upload-opt{
    width: 400px;
    height: 300px;
    position: fixed;
    display: flex;
    top: 300px;
    left: 50%;
    transform: translateX(-50%);
    background-color: bisque;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
#close-upload{
    position: absolute;
    top: 10px;
    left: 10px;
    background-image: url(../../assets/icon/no_green.svg);
}
.upload-opt-btn{
    margin: 10px !important;
    width: 100px !important;
    height: 100px !important;
    transition: transform 0.3s ease-in-out;
}
.upload-opt-btn:hover{
    transform: scale(1.2);
}
#progress{
    position: absolute;
    background-color: rgb(204, 132, 38);
    height: 100%;
    border-radius: 15px;
    left: 0;
    right: 0;
    z-index: 1;
}
#uploading-back{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
}
#upload-dir{background-image: url(../../assets//icon/folder.svg);}
#upload-file{background-image: url(../../assets/icon/file.svg);}
#new-dir-btn{background-image: url(../../assets//icon/addfolder_green.svg);}
#new-dir-cancel{background-image: url(../../assets//icon/no_green.svg);}
#new-dir-save{background-image: url(../../assets/icon/save_green.svg);}
#go-back{background-image: url(../../assets/icon/left_green.svg);}
.edit-name{background-image: url(../../assets/icon/edit_green.svg);}
.save-name{background-image: url(../../assets/icon/save_green.svg);}
#copy{background-image:url(../../assets/icon/copy_green.svg);}
#del{background-image:url(../../assets/icon/bin_green.svg);}
#move{background-image:url(../../assets/icon/move_green.svg);}
#reload{background-image:url(../../assets/icon/load_green.svg);}
#upload{background-image:url(../../assets/icon/upload_green.svg);}


  @keyframes paste {
    0% {
      opacity: 0.5;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.5;
    }
  }