/* widget */
#widget{
    position: fixed;
    width: 100%;
    height: 85vh;
    top: 20px;
    display: flex;
    opacity: 0 ;
    transform: scale(7);
    justify-content: center;
    align-items: center;
    pointer-events: none;
    flex-direction: column;
    transition: transform 0.7s ease-in, opacity 0.7s ease-in;
}
.widget-load{
    pointer-events: unset !important;
    opacity: 0.7 !important;
    transform: scale(1) !important;
}
.widget-line{
    height: 30%;
    width: 95%;
    display: flex;
    margin-bottom: 30px;
    flex-direction: row;
justify-content: center;
align-items: center;
}

.widget-item{
    overflow: hidden;
    opacity: 0.7;
    cursor: pointer;
width: 50%;
margin: 10px;
height: 100%;
display: flex;
flex-direction: row;
position: relative;
justify-content: center;
align-items: center;
background-color: #4f84a8;
border-radius: 15px;
transition: transform 0.3s ease-in;
}
.widget-item:hover{
    opacity: 1;
    transform: scale(1.1); 
    z-index: 9;
}
.widget-title{
    font-size: 15px;
    position: absolute;
    bottom: -25px;
    color: #8b8b8bd3;
    font-weight: bold;
justify-content: center;
align-items: center;
}
.widget{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.widget-icon{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.widget-icon div{
    width: 100px;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
}
.widget-panel{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.panel-text-null{
    color: gray;
}
.widget-panel-item{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: transform 0.2s ease-in-out;
}
.widget-panel-item:hover{
    transform: scale(1.1);
}
.doc-panel{
    background-color: #37c075;
    height: 25%;
    border-radius: 15px;
    margin: 5px;
}
.pic-panel{
    width: 70% !important;
    aspect-ratio: 1/1;
    overflow: hidden;
    background-color: #162631;
    border-radius: 15px;
    padding: 5px;
}
.pic-panel img{
    border-radius: 15px;
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: cover;
}
.tra-panel{
    background-color: #c09e37;
    height: 25%;
    border-radius: 15px;
    margin: 5px;
}
.mon-panel{
    font-size: 10px;
    padding: 5px;
    border-radius: 15px;
    background-color: #c07937;
}
.not-panel{
    justify-content: left !important;
    height: 50px;
    border-bottom: #162631 solid 2px;
}
.bok-panel{
    padding-left: 10px;
    height: 60px;
    border-radius: 15px;
    -webkit-clip-path: polygon(100% 0%,100% 50%,100% 100%,0% 100%,25% 50%,0% 0%);
    clip-path: polygon(100% 0%,100% 50%,100% 100%,0% 100%,25% 50%,0% 0%);
    background-color: #7e5d5e93;
}

/* dock */
#dock{
    background-color: #363e43a6;
      min-width: 80px;
      position: fixed;
      bottom: -90px;
      display: flex;
      justify-content: center;
      align-items: center;
    border-radius: 25px; 
    padding: 10px;
    height: 70px;
    transition: bottom 0.5s ease-in-out;
    z-index: 10;
}
.dock-load{
    bottom: 10px !important;
}
.dock-app{
    background-color: #588370;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 64px;
    height: 64px;
    border-radius: 15px; 
    margin: 15px; 
    transition: transform 0.3s;
}
.dock-icon{
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
}
.dock-app:hover{
    transform: scale(1.2);  
}
.app-win{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 10%;
    height: 80vh;
    width: 80vw;
    padding-top: 60px;
    background-color: antiquewhite;
    border-radius: 15px;
    overflow: hidden;
}
#close-win{
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
}
#login-win1{
    display: flex;
    flex-direction: row;
}
#switch-user{
    display: flex;
    flex-direction: row;
}
/* lock Page */
#head-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: rgb(54, 66, 66);
    width: 100%;
    top: -120px;
    height: 80px;
    transition:  top 0.5s ease-in-out;
    z-index: 3;
}
#head-name{
    bottom: 10px;
    width: 200px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    transition: bottom 0.5s ease-in-out;
    background-image: url(../../assets/icon/name.svg);
}
.head-bar-load{
    top: 0 !important;
}
.head-bar-load div{
    bottom: -40px !important;
}
#lock-page{
    background-color: #4f84a8;
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    top: -100%;
    pointer-events: none;
    display: flex;
    transition:  top 0.5s ease-in-out;
    justify-content: center;
    align-items: center;
}
.lock-page-load{
    pointer-events: unset !important;
top: 0 !important;
}
#unlock-btn{
width: 46px !important;
height: 46px !important;
border-radius: 50%;
background-color: #588370;
background-image: url(../../assets/icon/power.svg);
}
/* sys */
#sys-app{
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sys-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: 60px;
    margin-bottom: 20px;
}
.sys-bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 32px;
}
.sys-icon{
    background-position: center;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
}
.sys-progress-bar{
    border-radius: 15px;
    margin: 5px;
    height: 10px;
    flex: 1;
    background-color: cadetblue;
}
.sys-percent{
    font-weight: bold;
    width:30px;
    font-size: 10px;
    text-align: center;
}
.sys-progress{
    background-color: aliceblue;
    height: 100%;
    border-radius: 15px;
    transition: width 0.5s ease-in-out;
}
.sys-data{
    height: 10px;
    font-size: 10px;
    font-weight: bold;
}
#net-box{
    flex-direction: row !important;
}
#sys-loadPage{
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #2b2f2db0;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* list win */
.list-win{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80vh;
    border-radius: 15px;
}
#close-back{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    z-index: -1;
}
#not-list{
        white-space: pre-wrap;
    word-break: break-word;
    overflow-wrap: break-word;
    align-items: unset !important;
    background-color: #bd51936e !important;
    overflow-y: auto;
}
#not-list div{
    position: absolute;
    top: 50%;
}
#not-list code{
    font-size: 15px;
    margin: 10px
}
#doc-list{
    flex-wrap: wrap;
    background-color: #37c075bc;
}
#doc-list span{
    cursor: default;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    z-index: 1;
}
.file-view{
    width: 100%;
   height: 100%;
}
.dir-view{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 60px;
    background-color: #5ecf9c;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
}
.dir-view div{
    width: 46px;
    height: 46px;
    position: absolute;
    background-position: center;
    z-index: 0;
}
.dir-view-file{background-image: url(../../assets/icon/file.svg);}
.dir-view-dir{background-image: url(../../assets/icon/folder.svg);}
#doc-icon{background-image: url(../../assets/icon/folder.svg);}
#pic-icon{background-image: url(../../assets/icon/picture.svg);}
#tra-icon{background-image: url(../../assets/icon/trash.svg);}
#mon-icon{background-image: url(../../assets/icon/monitor.svg);}
#not-icon{background-image: url(../..//assets/icon/note.svg);}
#bok-icon{background-image: url(../../assets/icon/bookmark.svg);}
#net-up{background-image: url(../../assets/icon/goup_grey.svg);}
#net-down{background-image: url(../../assets/icon/godown_grey.svg);}
#net-icon{background-image: url(../../assets/icon/network.svg);}
#cpu-icon{background-image: url(../../assets/icon/cpu.svg);}
#mem-icon{background-image: url(../../assets/icon/mem.svg);}
#disk-icon{background-image: url(../../assets/icon/disk.svg);}
#login-icon{background-image: url(../../assets/icon/user.svg);}
#sys-icon{background-image: url(../../assets/icon/system.svg);}
#theme-icon{background-image: url(../../assets/icon/theme.svg);}
#lock-icon{background-image: url(../../assets/icon/lock.svg);}
@media (max-width: 600px) {
    .widget-panel{
        display: none !important;
    }
}