#root{
    overflow: hidden;
}
/* widget */
#widget{
    width: 100%;
    height: 85%;
    top: 20px;
    display: flex;
    opacity: 0 ;
    transform: scale(2);
    justify-content: center;
    align-items: center;
    pointer-events: none;
    flex-direction: column;
     will-change: transform, opacity; 
    transition: transform 1s ease, opacity 1s ease;
}
#widget .widget-panel{
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease;
}
.widget-load{
    pointer-events: unset !important;
    opacity: 1 !important;
    transform: scale(1) !important;
}
.widget-load .widget-panel{
  opacity: 1 !important;
  visibility: visible !important;
}
.widget-panel li{
    font-weight: bold;
    font-size: 10px;
    margin-bottom: 10px;
}
.widget-line{
    height: 30%;
    width: 95%;
    display: flex;
    margin-bottom: 30px;
    flex-direction: row;
justify-content: center;
align-items: center;
}
.widget-item{
    opacity: 0.7;
    cursor: pointer;
    background-color: var(--base_color);
    background-blend-mode: overlay;
    width: 45%;
    margin: 10px;
    height: 100%;
    display: flex;
    background-image: var(--wallpaper);
    box-shadow: var(--out_shadow);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    flex-direction: row;
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    transition: transform 0.3s ease-in;
}
.widget-item:hover{
    opacity: 1;
    transform: scale(1.1); 
    z-index: 9;
}
.widget-title{
    font-size: 15px;
    position: absolute;
    bottom: -25px;
    color: var(--text);
    font-weight: bold;
justify-content: center;
align-items: center;
}
.widget{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.widget-icon{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.widget-icon div{
    width: 100px;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
}
.widget-panel{
    width: 50%;
    height: 100%;
    display: flex;
    color: var(--text);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.panel-text {
    max-width: 80%;
    white-space: nowrap;       
    overflow: hidden;
    text-overflow: ellipsis;  
}
.panel-text-null{
    color: var(--global_text);
}
.widget-panel-item{
    background-color: var(--bg_color);
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: transform 0.2s ease-in-out;
}
.widget-panel-item:hover{
    transform: scale(1.1);
}
.doc-panel{
    position:  relative !important;
    height: 25%;
    border-radius: 15px;
    margin: 5px;
}
.pic-panel{
    /* min-width: 80% !important; */
    max-width: 150px !important;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 15px;
    padding: 5px;
}
.pic-panel img{
    border-radius: 15px;
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: cover;
}
.tra-panel{
    height: 25%;
    border-radius: 15px;
    margin: 5px;
}
.mon-panel{
    font-size: 10px;
    padding: 5px;
    border-radius: 15px;
}
.not-panel{
    justify-content: left !important;
    height: 50px;
    border-bottom: var(--base_color) solid 2px;
    background-color: transparent !important;
}
.bok-panel{
    padding-left: 20px;
    font-size: 10px;
    height: 60px;
    border-radius: 15px;
    -webkit-clip-path: polygon(100% 0%,100% 50%,100% 100%,0% 100%,25% 50%,0% 0%);
    clip-path: polygon(100% 0%,100% 50%,100% 100%,0% 100%,25% 50%,0% 0%);
}

/* dock */
#dock{
    box-shadow: var(--out_shadow);
    background-color: var(--bg_color);
      min-width: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
    border-radius: 36px; 
    transform: translateY(calc(100% + 60px));
    padding: 10px;
    height: 70px;
    transition: transform 0.5s ease-in-out;
    z-index: 10;
}
.dock-load{
    transform: translateY(0) !important;
}
.dock-app{
    background-color: var(--base_color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 64px;
    height: 64px;
    border-radius: 15px; 
    margin: 15px; 
    transition: transform 0.3s;
}
.dock-icon{
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
}
.dock-app:hover{
    transform: scale(1.2);  
}
.app-win{
    position: fixed;
    display: flex;
    align-items: center;
    background-color: var(--bg_color);
    justify-content: center;
    bottom: 10%;
    height: fit-content;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    min-width: 300px;
    top: 50%;
    width: 80%;
    max-width: 500px;
    padding: 60px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 15px;
    transform: translateY(-50%);
    overflow: hidden;
}
#close-win{
    position: absolute;
    top: 10px;
    left: 10px;
    background-image: var(--no_icon);
    z-index: 2;
}
/* lock Page */
#head-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: var(--bg_color);
    width: 100%;
    top: -120px;
    height: 80px;
    transition:  top 0.5s ease-in-out;
    box-shadow: var(--out_shadow);
    z-index: 3;
}
#head-name{
    bottom: 10px;
    width: 200px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    transition: bottom 0.5s ease-in-out;
    background-image: url(../../assets/icon/name.svg);
}
.head-bar-load{
    top: 0 !important;
}
.head-bar-load div{
    bottom: -40px !important;
}
#lock-widget-box{
    background-color: antiquewhite;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 70px;
    width: 90%;
    height: 30%;
    
}
#lock-page{
    background-color: var(--bg_color);
    position: fixed;
    display: flex;
    flex-direction: column;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
    pointer-events: none;
    display: flex;
    opacity: 0;
    transition:  opacity 0.5s ease-in-out;
    justify-content: center;
    align-items: center;
}
#lock-user{
    position: relative;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    box-shadow: var(--out_shadow);
    background-color: var(--base_color);
    margin-bottom: 60px;
    transition:transform 0.3s ease ;
}
#lock-user:hover{
    transform: scale(1.2);
}
#lock-user div{
    transition: opacity 0.3s ease-in-out;
}
#lock-profile{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    background-image: var(--user_icon);
}
#lock-user:hover #lock-profile{
    opacity: 0.2;
}
#lock-user:hover #lock-switch{
    opacity: 1;
}
#lock-switch{
    opacity: 0;
    position: absolute;
    width: 40px;
    height: 40px;
    background-image: var(--switch_icon);
}
#lock-user span{
    font-weight: bold;
    color: var(--text);
    position: absolute;
    bottom: -30px;
}
.lock-page-load{
    pointer-events: unset !important;
    opacity: 1 !important;
}
#btn-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.lock-btn{
    margin: 20px;
    color: var(--text);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    box-shadow: var(--out_shadow);
border-radius: 50%;
background-color: var(--base_color);
}
.lock-btn span{
    position: absolute;
    bottom: -30px;
}
.lock-btn div{
    width: 20px;
    height: 20px;
}
#lock-loading{
    margin: 20px;
    width: 32px !important;
    height: 32px !important;
}
/* sys */
#sys-app{
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sys-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: 60px;
    margin-bottom: 20px;
}
.sys-bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 32px;
}
.sys-icon{
    background-position: center;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
}
.sys-progress-bar{
    border-radius: 15px;
    margin: 5px;
    height: 10px;
    flex: 1;
    background-color: var(--base_color);
}
.sys-percent{
    color: var(--text);
    font-weight: bold;
    width:30px;
    font-size: 10px;
    text-align: center;
}
.sys-progress{
    background-color: var(--text);
    height: 100%;
    border-radius: 15px;
    transition: width 0.5s ease-in-out;
}
.sys-data{
    color: var(--text);
    height: 10px;
    font-size: 10px;
    font-weight: bold;
}
#net-box{
    flex-direction: row !important;
}
#sys-loadPage{
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--floatoat_win_bg_color);
    display: flex;
    justify-content: center;
    align-items: center;
}
/* login */

#login-win{
    background-color: var(--bg_color);
    border-radius: 15px;
    box-shadow: var(--out_shadow);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 50px 20px 50px;
}
#login-back{
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 50%;
    background-color: var(--base_color);
    background-image: var(--toleft_icon);
}
.login-input{
    box-shadow: var(--in_shadow);
    margin: 10px;
    padding: 10px;
    border-radius: 50px;
}
#login-send{
    background-image: var(--toright_icon);
    background-color: var(--base_color);
    border-radius: 50%;
}
/* them */
#theme-app{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#mode-bar{
    padding-bottom: 15px;
    width: 80%;
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: center;
    border-bottom: #00000020 solid 3px;
}
.theme-btn{
    font-size: 15px;
    min-width: 100px;
    width: fit-content;
    text-align: center;
    color: var(--text);
    background-color: var(--bg_color);
    padding: 15px;
    border-radius: 50px;
    margin-right: 10px;
}

.switch-icon{
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 10px;
    background-image: var(--switch_icon);
}
#color-bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.color-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 3px;
    margin-top: 15px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: transparent;
    border: 3px solid;
    border-color: transparent;
}
.color-btn:hover{
    border-color: var(--base_color);
}
.color-btn-enable{
    border-color: var(--base_color);
}
.color-btn div{
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: var(--base_color);
}
#page-bar{
    margin-top: 5px;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}
/* lang */
#show-lang{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content:  flex-start;
    align-items: center;
    background-color: var(--base_color);
    color: var(--text);
    padding: 10px;
    border-radius: 15px;
    transition: transform 0.3s ease;
}
#show-lang div{
    margin-left: 5px;
    width: 20px;
    height: 20px;
    background-image: var(--switch_icon);
}
#show-lang:hover{
    transform: scale(1.2);
}
#lang-list{
    color: var(--text);
    border-radius: 15px;
    box-shadow: var(--out_shadow);
    cursor: pointer;
    padding: 10px;
    background-color: var(--bg_color);
}
.lang-list-item {
    text-align: center;
    padding: 5px;
    background-color: var(--base_color);
    border-radius: 15px;
    margin: 10px;
    transition: transform 0.3s ease;
}
.lang-list-item:hover{
    transform: scale(1.2);
}
.lang-select{
    cursor: default !important;
    pointer-events: none !important;
    background-color: var(--bg_color);
}
/* list win */
.list-win{
    background-color: var(--bg_color);
    color: var(--text);
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: fit-content;
    max-height: 80vh;
    border-radius: 15px;
}
#close-back{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    z-index: -1;
}
#not-list{
        white-space: pre-wrap;
    word-break: break-word;
    overflow-wrap: break-word;
    align-items: unset !important;
    overflow-y: auto;
}
#not-list div{
    position: absolute;
    top: 50%;
}
#not-list code{
    font-size: 15px;
    margin: 10px
}
#doc-list{
    flex-wrap: wrap;
}
#doc-list span{
    cursor: default;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    z-index: 1;
}
.file-view{
    border-radius: 15px;
   height: 80vh;
   width: 100%;
}
.dir-view{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 60px;
    background-color: var(--bg_color);
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
}
.dir-view div{
    width: 46px;
    height: 46px;
    position: absolute;
    background-position: center;
    z-index: 0;
}
#pic-list{
    width: fit-content;
    height: fit-content;
}
.list-media{
    max-width: 80vw;
}
.tooltip{
    background-color: var(--bg_color);
    color: var(--text);
}
#load-btn div{background-image: var(--load_icon);}
#unlock-btn div{background-image: var(--power_icon);}
#logout-btn div{background-image: var(--logout_icon);}
.dir-view-file{background-image: url(../../assets/icon/file.svg);}
.dir-view-dir{background-image: url(../../assets/icon/folder.svg);}
#doc-icon{background-image: url(../../assets/icon/folder.svg);}
#pic-icon{background-image: url(../../assets/icon/picture.svg);}
#tra-icon{background-image: url(../../assets/icon/trash.svg);}
#mon-icon{background-image: url(../../assets/icon/monitor.svg);}
#not-icon{background-image: url(../../assets/icon/note.svg);}
#bok-icon{background-image: url(../../assets/icon/bookmark.svg);}
#net-up{background-image: var(--toup_icon);}
#net-down{background-image:var(--todown_icon);}
#net-icon{background-image: url(../../assets/icon/network.svg);}
#cpu-icon{background-image: url(../../assets/icon/cpu.svg);}
#mem-icon{background-image: url(../../assets/icon/mem.svg);}
#disk-icon{background-image: url(../../assets/icon/disk.svg);}
#lang-icon{background-image: url(../../assets/icon/lang.svg);}
#sys-icon{background-image: url(../../assets/icon/system.svg);}
#theme-icon{background-image: url(../../assets/icon/theme.svg);}
#lock-icon{background-image: url(../../assets/icon/lock.svg);}
@media (max-width: 600px) {
    .widget-panel{
        display: none !important;
    }
}
@media (max-width: 420px) {

    #dock{
        width: 90%;
    }
    .dock-app{
        margin: 10px;
    }
}