input{
    all: unset;
}
#content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#top-bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.control-bar{
    position: relative;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 30px;
    height: fit-content;
    border-radius: 50px;
    margin: 20px;
}
.control-name{
    cursor: default;
}
.show-action{
    background-image: var(--setting_icon);
    margin-bottom: 10px;
    margin-top: 10px;
}
.action-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.action-bar{
    color: var(--text);
    box-shadow: var(--out_shadow);
    cursor: pointer;
    margin: 10px;
    border-radius: 15px;
    height: 40px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    align-items: center;
    flex-direction: column;
    min-width: 100px;
    padding: 5px;
}
.no-action{
    background-color: var(--bg_color);
}
.have-action{
    background-color: var(--base_color);
}
#user-box{
    display: flex;
    flex: 1;
    justify-content: left;
    align-items: center;
    margin: 5px;
    margin-left: 10px;
}
#user-text{
    cursor: pointer;
    margin-left: 5px;
}
#user-list{
    overflow-y: auto;
    border-radius: 15px;
    top: 70px;
    position: absolute;
    width: 100px;
    min-height: 60px;
    max-height: 300px;
    background-color: var(--base_color);
    z-index: 2;
}
#user-back{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
#time-box{
    display: flex;
    flex: 1;
    margin-right: 10px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.time-text{
    font-size: 10px;
    white-space: nowrap;
    width: 50px;
    margin-left: 5px;
    border-radius: 15px;
    position: relative;
}
#time-input{
    width: 100%;
    font-size: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: left;
}
#time-input-box{
    height: fit-content;
    padding-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--in_shadow);
}
.mini-btn{
    right: 5px !important;
    width: 20px !important;
    height: 20px !important;
    position: absolute !important;
}
#time-btn{
    background-image: var(--time_icon);
}
#unit-text{
    position: relative;
    display: flex;
    justify-content: left;
    cursor: default;
    align-items: center;
    background-color: var(--base_color);
    color: var(--text);
    border-radius: 15px;
    padding: 5px;
    margin: 5px;
    width: 60px;
    font-size: 10px;
}
#unit-text span{
    text-align: center;
    margin-left: 5px;
}
#unit-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.name-item{
    cursor: pointer;
    border-radius: 15px;
    margin: 10px;
    background-color: var(--bg_color);
    color:var(--text) ;
    display: flex;
    justify-content: center;
    align-items: center;
}
#cmd-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: var(--bg_color);
    border-radius: 15px;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    width: 90%;
    height: 90%;
}
#close-cmd{
    position: absolute;
    top: 10px;
    left: 10px;
    background-image: var(--no_icon);
}
#input-cmd{
    width: 90%;
    border-bottom: 2px solid var(--base_color);
    font-weight: bold;
    color: var(--text);
}
.cmd-input{
    box-shadow: var(--in_shadow);
    padding: 10px;
    border-radius: 15px;
    width: 90%;
    height: 20px;
    font-weight: bold;
    margin: 5px;
    color: var(--text);
}
.cmd-widget{
    width: 90%;
    display: flex;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: var(--out_shadow);
    border-radius: 15px;
    justify-content: center;
    align-items: center;
}
#cus-cmd-input-bar{
    flex-direction: column;
}
#send-box{
    display: flex;
    flex-direction: column;
}
#output-text{
    border-radius: 15px;
    box-shadow: var(--out_shadow);
    padding: 10px;
    max-height: 250px;
    width: 90%;
    overflow-y: auto;
    font-weight: bold;
    color: var(--text);
    white-space: pre-wrap;
    word-break: break-word;
    overflow-wrap: break-word;
}
#send-cmd{
    width: 46px !important;
    height: 32px !important;
    margin:10px ;
    background-image: var(--toright_icon);
    background-color: var(--base_color);
    border-radius: 10px;
}
#add-cmd{
    background-image: var(--add_icon);
    background-color: var(--base_color);
    border-radius: 10px;
}
#cus-cmd-box{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    width: 90%;
    border-bottom: 3px solid var(--base_color);
    margin-bottom: 20px;
    overflow-x: auto;
    padding-bottom: 10px;
}
.cmd-item{
    flex-shrink: 0;
    margin: 5px;
    cursor: pointer;
    position: relative;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 80px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    background-color: var(--bg_color);
}
.cmd-title{
    margin-top: 10px;
}
.cmd-item:hover{
    background-color: var(--base_color);
}
.del-cmd{
    width: 15px !important;
    height: 15px !important;
    position: absolute;
    top: 10px;
    left: 10px;
    background-image: var(--no_icon);
}
.cmd-cmd{
    font-size: 12px;
}
#load{background-image: var(--load_icon);}
#save-time{background-image: var(--save_icon);}
#user-btn{background-image: var(--user_icon);}
#switch-unit{background-image: var(--switch_icon);}
#cmd-btn{background-image: var(--cmd_icon);}
@media (max-width: 600px) {
    .control-bar{
        width: 80%;
    }
}
  @media (hover: hover) and (pointer: fine) {
.action-bar:hover{
    background-color: var(--base_color);
}

.name-item:hover{
    background-color: var(--base_color);
}
  }