#content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.control-bar{
    position: relative;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100px;
    height: fit-content;
    background-color: antiquewhite;
    border-radius: 50px;
    margin: 20px;
}
.control-name{
    cursor: default;
}
.show-action{
    background-image: url(../../assets/icon/setting_yellow.svg);
    margin-bottom: 10px;
    margin-top: 10px;
}
.action-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.action-bar{
    cursor: pointer;
    margin: 10px;
    border-radius: 15px;
    height: 40px;
    background-color: rgb(190, 202, 84);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 100px;
    padding: 5px;
}
.action-bar:hover{
    background-color: rgb(151, 149, 3);
}