textarea{
    all: unset;
}
#content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#top-bar-box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.title{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.note{
    position: relative;
    background-color: rgba(160, 64, 126, 0.692);
    border-radius: 15px;
    width: 100%;
    margin: 10px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.note-btn{
    bottom: 10px;
}
.text-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100px;
    height: fit-content;
}
.hljs {
    white-space: pre-wrap;      
  word-break: break-word;     
  overflow-wrap: break-word; 

    font-weight: bold;
    width: 90%;
    font-size: 20px;
background-color: transparent;
}
.text{
    /* 设置初始文本颜色为透明,防止高亮还没渲染完就出现原始文本 */
    color: transparent;
}
.note-loading{
    width: 32px !important;
    height: 32px !important;

}
.copy{
    position: absolute;
    bottom: 0;
    right: 10px;
    background-image: url(../../assets/icon/copy_pink.svg);
    transition: background-image 1s ease-in-out ;

}
.edit-mode-btn{
    position: absolute;
    bottom: 0;
    left: 10px;
}
#close-edit{
    position: absolute;
    top: 10px;
    left: 10px;
    background-image: url(../../assets/icon/no_pink.svg);
}
#edit-back{
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
#edit-title{
    margin-top: 60px;
    text-align: center;
    border-bottom: 2px solid rgb(0, 0, 0);
    background-color: rgba(116, 43, 90, 0.575);
    width: 100%;
    height: 60px;
}
#edit-text{
    white-space: pre-wrap;      
  word-break: break-word;     
  overflow-wrap: break-word; 
    margin: 10px;
    width: 90%;
    height: 80%;
    flex: 1;
}
#save-edit{
    position: absolute;
    top: 10px;
    right: 10px;
}
#add-title-box{
    border-radius: 15px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: antiquewhite;
    height: 40px;
    width: 120px;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}
#add-save{
    position: absolute;
    right: 10px;
}
#add-title-input{
    margin-left: 5px;
    width: 100%;
    height: 100%;
}
#add-text-box{
    position: relative;
    cursor: text;
    align-items: center;
    text-align: center;
    white-space: pre-wrap;      
  word-break: break-word;     
  overflow-wrap: break-word; 
    border-radius: 15px;
    min-height: 40px;
    display: flex;
    flex: 1;
    margin-right: 10px;
    background-color: antiquewhite;
}
#add-text-box span{
    position: absolute;
    max-width: 90%;
    margin-left: 5px;
  white-space: nowrap;      
  overflow: hidden;         
  text-overflow: ellipsis;   
}
#text-add-back{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#add-text-input{
    padding-left: 5px;
    padding-top: 5px;
    text-align: left;
    justify-content: left;
    border-radius: 15px;
    position: absolute;
    top: 0;
    width: 100%;
    height: 300px;
    background-color: antiquewhite;
}
.default-text{
    color: rgb(90, 86, 86);
}
#del-btn{
    position: absolute;
    top: 10px;
    left: 10px;
    background-image: url(../../assets/icon/no_pink.svg);
}
#not-upload{
    display: flex;
    justify-content: center;
    align-items: center;
}
#upload-percent{
    position: absolute;
    color: rgb(250, 192, 250);
}
.save{background-image: url(../../assets/icon/save_pink.svg);}
.edit{background-image: url(../../assets/icon/edit_pink.svg);}
.copy-ok{background-image: url(../../assets/icon/yes_pink.svg) !important;}
.open-note{background-image: url(../../assets/icon/down_pink.svg);}
.close-note{background-image: url(../../assets/icon/up_pink.svg);}
#add-btn{background-image: url(../../assets/icon/add_pink.svg);}
#load-btn{background-image: url(../../assets/icon/load_pink.svg);}
#upload-btn{background-image: url(../../assets/icon/upload_pink.svg);}