textarea{
    all: unset;
}
#content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#top-bar-box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.title{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text);
}
.note{
    position: relative;
    border-radius: 15px;
    width: 100%;
    margin: 10px;
    min-height: 100px;
    background-color: var(--bg_color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.note-btn{
    bottom: 10px;
}
.text-box{
    background-color: var(--float_win_bg_color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100px;
    margin-bottom: 10px;
    height: fit-content;
}
.hljs {
    white-space: pre-wrap;      
  word-break: break-word;     
  overflow-wrap: break-word; 
    font-weight: bold;
    width: 90%;
    font-size: 20px;
background-color: transparent;
}
.text{
    /* 设置初始文本颜色为透明,防止高亮还没渲染完就出现原始文本 */
    color: transparent;
}
.note-loading{
    width: 32px !important;
    height: 32px !important;

}
.copy{
    position: absolute;
    bottom: 0;
    right: 10px;
    background-image: var(--copy_icon);
    transition: background-image 1s ease-in-out ;

}
.edit-mode-btn{
    position: absolute;
    bottom: 0;
    left: 10px;
}
#close-edit{
    position: absolute;
    top: 10px;
    left: 10px;
    background-image: var(--no_icon);
}
#edit-back{
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    background-color: var(--bg_color);
    width: 100%;
    height: 100%;
}
#edit-title{
    margin-top: 60px;
    text-align: center;
    border-bottom: 2px solid var(--text);
    color: var(--text);
    width: 100%;
    height: 60px;
    font-weight: bold;
}
#edit-text{
    font-weight: bold;
    color: var(--text);
    white-space: pre-wrap;      
  word-break: break-word;     
  overflow-wrap: break-word; 
    margin: 10px;
    width: 90%;
    height: 80%;
    flex: 1;
}
#save-edit{
    position: absolute;
    top: 10px;
    right: 10px;
}
#add-title-box{
    border-radius: 15px;
    margin-right: 10px;
    margin-left: 10px;box-shadow: var(--in_shadow);
    height: 40px;
    width: 120px;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}
#add-save{
    position: absolute;
    right: 10px;
}
#add-title-input{
    border-radius: 15px;
    margin-left: 5px;
    width: 100%;
    height: 100%;
}
#add-text-box{
    position: relative;
    cursor: text;
    align-items: center;
    text-align: center;
    white-space: pre-wrap;      
  word-break: break-word;     
  overflow-wrap: break-word; 
    border-radius: 15px;
    min-height: 40px;
    display: flex;
    flex: 1;
    margin-right: 10px;
    box-shadow: var(--in_shadow);
}
#add-text-box span{
    position: absolute;
    max-width: 90%;
    margin-left: 5px;
  white-space: nowrap;      
  overflow: hidden;         
  text-overflow: ellipsis;   
}
#text-add-back{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#add-text-input{
    padding-left: 5px;
    padding-top: 5px;
    text-align: left;
    justify-content: left;
    border-radius: 15px;
    position: absolute;
    top: 0;
    width: 100%;
    height: 300px;
    font-weight: bold;
    background-color: var(--base_color);
    box-shadow: var(--in_shadow);
}
.default-text{
    color: rgb(90, 86, 86);
}
#del-btn{
    position: absolute;
    top: 10px;
    left: 10px;
    background-image: var(--no_icon);
}
#not-upload{
    display: flex;
    justify-content: center;
    align-items: center;
}
#upload-percent{
    position: absolute;
    color: var(--text);
}
#drag-win{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    pointer-events: none;
    justify-content: center;
    align-items: center;
    background-color: var(--float_win_bg_color);
}

#drag-win div{
    width: 200px;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: var(--upload_icon);
}
.save{background-image: var(--save_icon);}
.edit{background-image: var(--edit_icon);}
.copy-ok{background-image: var(--yes_icon) !important;}
.open-note{background-image: var(--down_icon);}
.close-note{background-image:var(--up_icon);}
#add-btn{background-image: var(--add_icon);}
#load-btn{background-image: var(--load_icon);}
#upload-btn{background-image: var(--upload_icon);}
@media (max-width: 600px) {
    .note{
        width: 80%;
    }
}