#content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}
#pic-box{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#top-bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.pic-item{
    position: relative;
    width: 25%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 15px;
    margin: 10px;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;
}
.inner-pic-item{
    min-width: 80% !important;
    aspect-ratio:inherit !important;
}
.pic-item img,.pic-item video{
    border-radius: 15px;
    width: 90%;
    height: 90%;
    max-height: 100%;
    position: relative;
    object-fit: cover;
}
.mask{
    pointer-events: none;
    opacity: 0;
    background-color: var(--base_color);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.mask:hover{
    background-color: var(--text);
    opacity: 0.8 !important;
}
.mask-enable{
    pointer-events: auto;
    opacity: 0.4 !important;
}
.mask-selected{
    background-color: var(--text) !important;
    opacity: 0.8 !important;
}
.select-btn-active{
    opacity: 1 !important;
}
#page-bar{
    color: var(--text);
    width: 300px;
    position: relative;
    bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: var(--base_color);
    border-radius: 15px;
   height: 40px;
   margin-top: 20px;
}
#page-num{
    text-align: center;
    flex: 1;
}
#jump-page{
    border-radius: 15px;
    overflow: hidden;
    margin-right: 10px;
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100px;
    height: 50px;
    position: relative;
    box-shadow: var(--in_shadow);
}
#page-input{
    padding-left: 10px !important;
    width: 40%;
    flex: 1;
    height: 100%;
    z-index: 1;
}
#jump-btn{
    width: 20px !important;
    height: 20px !important;
    z-index: 2;
    position: absolute;
    background-image: var(--toright_icon);
    right: 5px;
    transform: translateX(-50%);
}
#top-bar-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
#show-path-box{
    display: flex;
    flex-direction: row;
    display: flex;
    align-items: center;
}
#par-text{
    border-radius: 15px;
    padding: 10px;
    background-color: var(--base_color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 80px;
    left: 60px;
    cursor: pointer;
    opacity: 0.7;
    transition:  transform 0.3s ease-in-out;
    margin-left: 10px;
}
#cur-text{
    display: flex;
    text-align: center;
    justify-content: center;
    cursor: default;
    left: 50%;
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#home-pic{
    background-image: var(--pic_home_icon);
    margin-left: 10px;
}
#dir-list{
    position: relative;
    margin-right: 10px;
    background-image: var(--option_icon);
    z-index: 100;
}
#dir-list-box{
    all: initial;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    width: 20vw;
    max-width: 250px;
    min-height: 60px;
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--base_color);
    border-radius: 15px;
    bottom: -100%;
    left: -50%;
    transform: translateY(100%) translateX(-50%);
}
#close-list-win{
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#dir-item{
    cursor: pointer;
    background-color: var(--bg_color);
    color: var(--text);
    border-radius: 15px;
    min-height: 30px;
    height: 30px;
    width: 80%;
    margin: 10px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: transform 0.3s ease-in-out;
}
#upload-box{
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#progress-box{
    position: relative;
    flex: 1;
    height: 10px;
    margin-right: 5px;
    background-color: var(--base_color);
    border-radius: 15px;
    overflow: hidden;
}
#progress-bar{
    border-radius: 15px;
    position: absolute;
    background-color: var(--text);
    height: 100%;
}
#drag-win{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    pointer-events: none;
    justify-content: center;
    align-items: center;
    background-color: var(--float_win_bg_color);
}
#drag-win div{
    width: 200px;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: var(--upload_icon);
}
.media-loading{
    position: absolute;
    z-index: 2;
}
#media-box{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
  cursor: grab;
  width: fit-content;
height: fit-content;
z-index: 1;
  transition: transform 0.2s ease;
}
#media-box img,#media-box video{
    position: relative;
    max-width: 70vw;
    max-height: 70vh;
    object-fit: contain;
}
.media-btn{
    background-color: var(--bg_color);
    border-radius: 50%;
    position: fixed;
}
.media-selected{
    cursor: default;
    opacity: 1 !important;
    pointer-events: none;
}
.media-widget{
    z-index: 2;
}
.zoom-btn{
    border-radius: 10px;
    background-color: var(--bg_color);
    width: 46px;
    height: 46px;
}
.zoom-btn div{
    width: 20px;
    height: 20px;
}
#zoom-bar{
    box-shadow: var(--out_shadow);
    border-radius: 15px;
    padding: 10px;
    background-color: var(--base_color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 80px;
    margin-top: 20px;
}
#scale-text{
    margin: 10px;
}
#next-pic{
    background-image: var(--rightarr_icon);
    right: 10px;
}
#last-pic{
    background-image: var(--leftarr_icon);
    left: 10px;
}
#close-media{
    background-image: var(--no_icon);
    top: 10px;
    left: 10px;
}
.play-icon{
    position: absolute;
    background-image: var(--play_icon);
    z-index: 1
}
#uploading{background-color: transparent !important;}
#zoom-in{background-image: var(--zoomin_icon);}
#zoom-out{background-image: var(--zoomout_icon);}
#last-page{background-image: var(--leftarr_icon);}
#next-page{background-image: var(--rightarr_icon);}
#upload{background-image: var(--upload_icon);}
#img-btn{background-image:var(--photo_icon);}
#vid-btn{background-image: var(--video_icon);}
#load{background-image: var(--load_icon);}
#select-btn{background-image: var(--select_icon);}
#del-btn{background-image: var(--bin_icon);}
@media (max-width: 600px) {
    #page-bar{
        margin-bottom: 80px;
    }
}
  @media (hover: hover) and (pointer: fine) {

.pic-item:hover{
    transform: scale(1.15);
}
#par-text:hover{
    opacity: 1;
    transform: scale(1.2);
}
#dir-item:hover{
    transform: scale(1.1);
}
  }