 
        body{
            overflow-x: hidden !important;
            align-items: center;
            background-attachment:fixed;
            background-size: cover;
            background-repeat: no-repeat;
            font-size: 100%;
            margin: 0;
            padding: 0;
            background-color: var(--red);
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
           transition: background-image 1s ease;
           
        }
.ui-tooltip {
            background: #7e5d5e93; 
            color: #fda4a3; 
        }
        .backbtn{
            background-image: url(../../icon/left_red.svg);
        }
        #sidepage{
            background-color: #634343b7;
          }
          .side-btn:hover{
            background-color: #5726267c;
          }
        #option-bar{
            opacity: 0;
            padding-top: 5%;
            flex-direction: column;
            display: flex;
            align-items: center;
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            /* justify-content: center; */
            left: -60px;
            position: fixed;
            height: 100%;
            width: 60px;
            background-color: #795555a6;
            z-index: 11;
            box-shadow: var(--outshadow);
            transition: left 1s ease , opacity 1s ease;
            
          }
          .option-btn{
            opacity: 0.5;
              top: 80px;
              margin-top: 30px;
              position: relative;
              cursor: pointer;
              width: 32px;
              height: 32px;
              background-position: center;
              background-repeat: no-repeat;
              margin: 10px;
          }
          .option-btn:hover{
            opacity: 1;
          }
          #open-side{
            opacity: 0.5;
            position: absolute;
            top: 50px;
            background-image: url(../../icon/option_white.svg);
          }
          #open-side:hover{
            opacity: 1;
          }
          .main{
            margin-left: 60px;
          }
       #closebar{
            opacity: 0.5;
            width: 40px;
            height: 40px;
            margin: 0;
            position: absolute;
            top: 500px;
            right: 0;
            background-image: url(../../icon/goleft_red.svg);
          }
          #closebar:hover{
            opacity: 1;
          }
          #openbar{
            border-radius: 50%;
            display: none;
            margin: 0;
            position: fixed;
            top: 500px;
            left: 5px;
            background-image: url(../../icon/goright_red.svg);
            z-index: 9;
          }
          #openbar:hover{
            background-color: #96848c4d;
          }
        #top-bar{
            padding: 10px;
            border-radius: 1em;
            top: -80px;
            position: fixed;
            background-color: #7e4e4e80;
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            width: 80%;
            height: fit-content;
            display: flex;
            flex-direction: row;
            z-index: 10;
            transition: all 1s ease;
            box-shadow: var(--outshadow) 
        }
        #add{
            background-image: url(../../icon/add_red.svg);
        }
        #tit-bar{
            padding: 5px;
            padding-top: 10px;
            border-radius: 1em;
            left: 0;
            width: 20%;
            font-weight:bold;
            color: #d85645;
            min-height: 30px;
            margin-right: 10px;
            margin-left: 10px;
            background-color: transparent;
            box-shadow: var(--inshadow) 
        }
        #tit-bar:focus{
            outline: none;
        }
        #load{
            background-image: url(../../icon/load_red.svg);
        }
        #word-bar{
            padding: 5px;
            padding-top: 10px;
            right: 0;
            border-radius: 1em;
            width: 80% ;
            color: #d87775;
            margin-right: 10px;
            min-height: 30px;
            font-weight: bold;
            background-color: transparent;
            box-shadow: var(--inshadow)
        }
        #word-bar:focus{
            outline: none;
        } 
        .custom-upload-btn {
      background-image: url(../../icon/upload_pink.svg);
    }
        .delete-btn {
            position: absolute;
            top: 10px;
            right: 0;
            cursor: pointer;
            padding: 8px 16px;
            background-image: url(../../icon/no_red.svg);
           width: 20px;
           height: 20px;
           background-repeat: no-repeat;
           background-position: center;
            margin-right: 0;
            margin-top: 0;
           opacity: 0.5;
        }
        .delete-btn:hover{
            opacity: 1;
        }

        .add-btn {
            transform: translateX(-50%);
            position: relative;
            font-size: 200%;
            margin-left: 50%;
            
            margin-bottom: 2%;
            background-color: #ff74746c;
            color: #2d0a1e;
            cursor: pointer;
            padding: 32px 32px;
            border: none;
            border-radius: 50%;
            margin-top: 40px;
            
            background-position: center;
            background-repeat: no-repeat;
            aspect-ratio: 1/1;
            z-index: 10;
            bottom: 20px;
            box-shadow: var(--outshadow)
            
        }
        .add-btn:hover{
           
            background-color: #770f278c ;
            
        }
        
        h3.edit-mode,
        div.edit-mode {
            border: 1px solid #ccc;
            padding: 8px;
            display: inline-block;
            
        }
        .note-element {
            cursor: pointer;
            width: 80%;
            position: relative;
            border-radius: 1em;
            margin-bottom: 50px;   
            padding: 10px; 
            background-color: #7e5d5e93;
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            align-items: center ;
            overflow: hidden;
            transition: all 1s ease,transform 0.3s ease;
            box-shadow: var(--outshadow) 
        }
        .note-element:hover{
            transform: scale(1.1);
        }
        
        #notes{
            right: -100%;
        z-index: 2;
        position: relative;
        width: 100%;
        display: flex;
        transition: all 1s ease;
        top: 220px;
        align-items: center;
        flex-direction: column;
     }
        #note{
            width: 20%;
            align-items: center ;
        }
        h3{
            color: #fda4a3;
        }
       
   
            .open-page-btn{
                cursor: pointer;
                transform: translateX(-50%);
                margin-left: 50%;
                background-image: url(../../icon/down_red.svg);
                width: 32px;
                height: 32px;
                background-repeat: no-repeat;
                background-position: center;
                opacity: 0.5;
            }
            .open-page-btn:hover{
                opacity: 1;
            }
            .iframe-delete-btn{
                transform: translateX(-50%);
                margin-left: 50%;
                background-image: url(../../icon/up_red.svg);
                background-position: center;
                background-repeat: no-repeat;
                width: 32px;
                height: 32px;
                opacity: 0.5;
            }
            .iframe-delete-btn:hover{
               opacity: 1;
            }
            #top-btn{
  cursor: pointer;
  background-image: url(../../icon/toup_red.svg);
  background-color: #7e5d5e93;
}
#top-btn:hover{
  background-color: #774243;
}
#progress{
            overflow: hidden;
            right: 0;
            border-radius: 1em;
            width: 80% ;
            color: #d87775;
            margin-right: 10px;
            min-height: 30px;
            font-weight: bold;
            background-color: transparent;
            box-shadow: var(--inshadow)
  }
  #bar{
    width:0%;
    height:100%;
    background-color: #832826bd;
    box-shadow: var(--inshadow)
  }
  #percent {
  color: rgb(70, 3, 47);
  font-size: 14px; 
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  white-space: nowrap; 
}
#notify{
    background-color: #7e5d5e93;
}
#notifytext{
    color: #f49f9e;
}
            @media only screen and (max-width: 600px) {
                .main{
                    margin-left: 0;
                  }
                  .pc-only{
                    display: none;
                  }
            .phone_background {
            position:relative;
            overflow:hidden;
            overflow-x: hidden;
        }
        .phone_background .fixed {
            position:fixed;
            left:0;
            top:0;
            width:100%;
            height:100%;
            background-size:cover;
            z-index:0;
            overflow:hidden;
            overflow-x: hidden;
        }
     
        #backButton{
            height: 40px;
        }
        .next {
          position:fixed;
          left:0;
          top:0;
          width:100%;
          height:100%;
          background:no-repeat center center;
          background-size:cover;
            overflow:hidden;
            overflow-x: hidden; 
            opacity: 0;
            transition: opacity 1s ease ; 
            z-index: 1;
        }
        #option-bar{
            left: 0;
            padding-top: 0;
            align-items: center;
            position: fixed;
            display: flex;
            flex-direction: row;
            justify-content: center;
            height: 60px;
            width: 100%;
            bottom: 0;
            border-top-left-radius: 1em;
            border-top-right-radius: 1em;
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            z-index: 10;
        }
        .option-btn{
          top: auto;
          margin-top: 10px;
          position: relative;
          cursor: pointer;
          width: 24px;
          height: 24px;
          margin: 15px;
          background-position: center;
          background-repeat: no-repeat;
        }
        #open-side{
          top: auto;
          margin-left: 0;
          left: 5px;
        }
        .phone_background .fixed {
          background-color: var(--yellow);
        }
            }
            