[Unit]
Description=lze-web server  
After=network.target        

[Service]
ExecStart=/usr/lze-web  
Restart=always            
WorkingDirectory=/usr/bin
[Install]
WantedBy=default.target
