:root { 
  --green:#567260;
  --back: url('../../wallpaper/dark/home.svg') no-repeat center/cover;
}
body {
    background:var(--dark);
    background-color: var(--green);
  }

  #cover-bar{
    background-color: #1c28259d;
  }