body {
  background-image: url(../../wallpaper/light/pink_pc.svg);
}

#cover-bar{
  background-color: #966a85;
}
    #name{
      background-image: url(../../icon/light/name_pink.svg);
      }
@media only screen and (max-width: 600px) {
.phone_background .fixed {
  background-image: url(../../wallpaper/light/pink_phone.svg);
}
  }