

body {
  overflow-x: hidden !important;
  background-color: var(--blue);
  font-size: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  transition: background-image 1s ease;
}
#oth-btn{
  display: flex;
  position: relative;
  justify-content: center;
  margin: 10px;
  margin-top: 15px;
  opacity: 0.7;
  cursor: pointer;
  width: 32px;
  height: 32px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../../icon/folder_blue.svg);
}
#oth-list{
right: -22px;
padding: 20px;
flex-direction: column;
  display: none;
  border-radius: 15px;
  min-height: 60px;
  max-height: 600px;
  height: fit-content;
  width: 150px;
  bottom: -20px;
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  background-color: #556885cb;
  transform: translateY(100%);
  box-shadow: var(--outshadow);
}
#oth-btn:hover{
  opacity: 1;
}
.folder{
margin-bottom: 10px;
padding: 10px;
border-radius: 15px;
color: #a3e2ff;
background-color: #64718ad5;
position: relative;
width: 90%;
height: 30px;
}
.folder:hover{
background-color: #365183da;
}
#pic-box{
  margin-bottom: 60px;
align-items: center;
justify-content: center;
display: flex;
flex-wrap: wrap;
position: relative;
top: 170px;
height: fit-content;
width: 100%;
}
.load-loop{
  position: absolute;
  width: 30px;
  height: 30px;
  border: 5px solid #87d9ff;
  border-top-color: #3c697e;
  border-right-color: #3c697e;
  border-bottom-color: #3c697e;
  border-radius: 100%;
  z-index: 10;
  animation: loading infinite 0.5s linear;
}
.pic{
  display: none;
  overflow: hidden;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
cursor: pointer;
border-radius: 15px;
margin: 10px;
margin-bottom: 10%;
width: 25%;
aspect-ratio: 1/1;
transition:transform 0.3s ease;
border: 10px solid #202122a4;
box-shadow: var(--outshadow);
}
.pic:hover{
transform: scale(1.2);
}
.pic img,.pic video{
  width: 100%;
  height: 100%;
  position: relative;
  object-fit: cover;
}
.video{
  background-color: #3d5c80a4;
}
.photo{
  background-color: #5a6c80a4;
}
#pho-btn{
  background-image: url(../../icon/photo_blue.svg);
}
#vid-btn{
  background-image: url(../../icon/video_blue.svg);
}
#page-bar{
  margin-bottom: 80px;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  height: 60px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: #5a6e85a4;
  display: flex;
  position: relative;
  border-radius: 15px;
  width: 300px;
}
#page-display{
  color: #b8ffff;
  font-weight: bold;
}
#left-page{
  top: 5px !important;
  position: absolute;
  left: 10px;
  background-image: url(../../icon/leftarr_blue.svg);
}
#right-page{
  top: 5px !important;
  position: absolute;
  right:10px;
  background-image: url(../../icon/rightarr_blue.svg);
}
#bigpic-page{
  display: none;
  cursor: pointer;
  opacity: 1;
}
#bigpic{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
  cursor: grab;
max-width: 85%;
max-height: 85%;
transition: transform 0.2s ease;
box-shadow: var(--outshadow);
}
#bigpic:active {
  cursor: grabbing; /* 鼠标按下时更改光标样式 */
}
#page-pic{
  max-height: 100%;
  max-width: 100%;
  position: relative;
}
.page-btn{
  background-position: center;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  position: absolute;
  border-radius: 50%;
  box-shadow: var(--outshadow);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: #6c7d8da6;
  z-index: 101;
}
.page-btn:hover{
  background-color: #395f83a6;
}
#close-pic{
  left: 20px;
  top: 20px;
  background-image: url(../../icon/no_blue.svg);
}
#next-btn{
  right: 10px;
  background-image: url(../../icon/rightarr_blue.svg);
}
#last-btn{
  left: 10px;
  background-image: url(../../icon/leftarr_blue.svg);
}
.backbtn{
  background-image: url(../../icon/left_blue.svg);
  }
  .tooltip {
    background: #575d8a8a; 
    color: #9dcaed; 
}
#option-bar{
 background-color: #3b4657a9;
      }
#sidepage{
        background-color: #455470b2;
      }
.side-btn:hover{
        background-color: #4b628d7c;
      }
.option-btn{
        opacity: 0.5;
          top: 80px;
          margin-top: 30px;
          position: relative;
          cursor: pointer;
          width: 32px;
          height: 32px;
          background-position: center;
          background-repeat: no-repeat;
          margin: 10px;
      }
.option-btn:hover{
        opacity: 1;
      }
#open-side{
  opacity: 0.5;
  position: absolute;
  top: 50px;
  background-image: url(../../icon/option_white.svg);
}
#open-side:hover{
  opacity: 1;
}
  #upload-btn {
    background-image: url(../../icon/upload_blue.svg);
  }
  #loadButton{
    background-image: url(../../icon/load_blue.svg);
  }
  #closebar{
    opacity: 0.5;
    width: 40px;
    height: 40px;
    margin: 0;
    position: absolute;
    top: 500px;
    right: 0;
    background-image: url(../../icon/goleft_blue.svg);
  }
  #closebar:hover{
    opacity: 1;
  }
  #openbar{
    border-radius: 50%;
    display: none;
    margin: 0;
    position: fixed;
    top: 500px;
    left: 5px;
    background-image: url(../../icon/goright_blue.svg);
    z-index: 9;
  }
  #openbar:hover{
    background-color: #8496924d;
  }
  .li-btn{
    right: 0;
    top: 10px;
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    right: 10px;
  }
  @keyframes edit {
    0% {
      background-color: #728d847e;
    }
    50% {
      background-color: transparent;
    }
    100% {
      background-color: #728d847e;
    }
  }
  @keyframes paste {
    0% {
      opacity: 0.5;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.5;
    }
  }
      .main{
        margin-left: 60px;
        transition: margin-left 1s ease;
      }
  form {
    width: 80%;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #customFileUpload {
    display: none;
  }
  #filename{
    height: fit-content;
    font-size: 20px;
    margin-left: 1%;
    margin-top: 2px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    color: #0000008c;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    position:relative;
    max-width: 80%;
  }
  #top-bar{
    top: -60px;
    border-radius: 1em;
     background-color: #575d8a8a;
     backdrop-filter: blur(10px);
     -webkit-backdrop-filter: blur(10px);
    display:inline-flex;
    height: 60px;
    width: 80%;
    position: fixed;
    /* overflow: hidden; */
    z-index: 10;
    transition: height 1s ease, top 1s ease , width 1s ease,margin-left 1s ease,background-color 1s ease ;
    box-shadow: var(--outshadow)  
  }
  .path-bar{
    background-color: transparent;
    overflow: hidden;
    width: 92%;
    max-width: 95%;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 0.5%;
    border-radius: 1em;
    position: relative;
    z-index: 10;
    box-shadow: var(--inshadow);
  }
  #currentPath{
    height: fit-content;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 1%;
    text-align: left;
    font-weight: bold;
    color: #a7e1f8;
    overflow-x: hidden;
    z-index: 10;
  }
  #upButton{
    opacity: 0.5;
    cursor: pointer;
    background-color: transparent;
    border: none;
    width: 32px;
    max-height: 32px;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 10px;
    z-index: 10;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../../icon/goup_blue.svg);
  }
  #upButton:hover{
    opacity: 1;
  }
  #upload-area{
    opacity: 0;
    background-color: #00000083;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    pointer-events:none;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 15;
  }
  #upload-area div{
    opacity: 0.5;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../../icon/upload_blue.svg);
    width: 30%;
    height: 30%;
  }
  .rotate-box{
    margin-right: 10px;
    width: 32px;
    height: 32px;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 10px;
  }
  .rotate-loading {
    position: absolute;
          transform: translate(-50%, -50%);
          border-radius: 50%/50%;
          border: 6px solid #7cd5ec;
          border-top: 6px solid #597286;
          animation: rotate-loading 1s linear infinite;
          width: 20px;
          height: 20px;
          z-index: 10;
      }
      #progress{
  width:100%;
  height:100%;
  border:none;
  overflow: hidden;
}
#bar{
  width:0%;
  height:100%;
  background-color: #8ad3f083;
}
#percent {
color: #b8e9fd;
font-size: 14px; 
position: absolute;
top: 50%; 
left: 50%; 
transform: translate(-50%, -50%); 
white-space: nowrap; 
}
#top-btn{
background-image: url(../../icon/toup_blue.svg);
background-color: #5a677cbd;
}
#top-btn:hover{
background-color: #4066808e;
}

  #notify{
    background: #575d8a8a; 
  }
  #notifytext{
    color: #9dcaed; 
  }
      
      @keyframes rotate-loading {
          0% {
              transform: rotate(0deg);
          }

          100% {
              /* 顺时针旋转360度 */
              transform: rotate(360deg);
          }
      }
  @media only screen and (max-width: 600px) {
    .main{
      margin-left: 0;
    }
  .pc-only{
    display: none;
  }
  .phone_background {
  position:relative;
  overflow:hidden;
  overflow-x: hidden;
}
.phone_background .fixed {
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  background-size:cover;
  z-index:-100;
  overflow:hidden;
  overflow-x: hidden;
}
.path-bar{
    
    max-width: 70%;
    
  }
  
.option-btn{
  top: auto;
  margin-top: 10px;
  position: relative;
  cursor: pointer;
  width: 24px;
  height: 24px;
  margin: 15px;
  background-position: center;
  background-repeat: no-repeat;
}
#open-side{
  top: auto;
  margin-left: 0;
  left: 5px;
}
.phone_background .fixed {
  background-color: var(--blue);
}
#phone-back{
background-color: var(--blue);
}
  }