:root {
    --inshadow:inset 4px 4px 7px rgba(0, 0, 0, 0.068),   
    inset -4px -4px 7px rgba(0, 0, 0, 0.068), 
    inset 4px -4px 7px rgba(0, 0, 0, 0.068),  
    inset -4px 4px 7px rgba(0, 0, 0, 0.068); 
    --outshadow:5px 5px 20px rgba(0, 0, 0, 0.068),   
    -5px -5px 20px rgba(0, 0, 0, 0.068), 
    5px -5px 20px rgba(0, 0, 0, 0.068),  
    -5px 5px 20px rgba(0, 0, 0, 0.068); 
}
body::-webkit-scrollbar {
    display: none; /* 隐藏滚动条 */
    }
    body{
        margin: 0;
        background-blend-mode: overlay;
        background: var(--back);
    }
    .backbtn{
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
        position: fixed;
        left: -50px;
        top: 20px;
        width: 40px;
        height: 40px;
        opacity: 0.5;
        background-image: url(../../icon/left_pink.svg);
        z-index: 11;
        transition: all 1s ease;
        }
        .backbtn:hover{
        opacity: 1;
        }
        #option-bar{
          opacity: 0;
          padding-top: 5%;
          flex-direction: column;
          display: flex;
          align-items: center;
          backdrop-filter: blur(10px);
          -webkit-backdrop-filter: blur(10px);
          left: -60px;
          position: fixed;
          height: 100%;
          width: 60px;
          z-index: 12;
          box-shadow: var(--outshadow);
          transition: left 1s ease , opacity 1s ease;
        }
#name{
            width: 100%;
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            }
.ui-tooltip {
            border: none !important;
            font-size: 19px; 
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
            padding: 15px; 
            border-radius: 1em; 
            font-weight: bold;
            overflow-wrap: break-word;
        }
#cover-bar{
        border-bottom-left-radius: 1em;
        border-bottom-right-radius: 1em;
        top: -150px;
        position: fixed;
        width: 100%;
        height: 80px;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        z-index: 10;
        transition: top 1s ease;
        box-shadow: var(--outshadow); 
            }
#notify{
                border-radius: 1em;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: fit-content;
                height: fit-content;
                position: fixed;
                top: 150px;
                z-index: 1000;
                opacity: 0;
                transition: opacity 1s ease,top 1s ease;
            }
#notifytext{
                padding: 20px;
                font-weight: bold;
                font-size: 20px;
            }
#top-btn{
                cursor: pointer;
                background-position: center;
                background-repeat: no-repeat;
                width: 45px;
                height: 45px;
                backdrop-filter: blur(10px);
                -webkit-backdrop-filter: blur(10px);
              position: fixed;
              bottom: -25%;
              z-index: 10;
              border-radius: 50%;
              transition: bottom 0.7s ease, margin-left 1s ease;
              box-shadow: var(--outshadow)
              }
#phone-back{
background: var(--back);
display: none;
}
#load-page{
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  background-color: #21242565;
  z-index: 99;
}
#load-loop{
  width: 50px;
  height: 50px;
  border: 5px solid #bfd2db;
  border-top-color: #69767c;
  border-right-color: #69767c;
  border-bottom-color: #69767c;
  border-radius: 100%;
  animation: loading infinite 0.5s linear;
}
@keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 600px) {
    .phone_background .fixed {
        background:var(--back);
        background-blend-mode: overlay;
      }

      #phone-back{
        width: 100%;
        height: 100%;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        position: fixed;
        display: block;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-blend-mode: overlay;
      }
  #option-bar{
    left: 0;
    padding-top: 0;
    align-items: center;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 60px;
    width: 100%;
    bottom: 0;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
}