:root {
    --inshadow:inset 4px 4px 7px rgba(0, 0, 0, 0.068),   
    inset -4px -4px 7px rgba(0, 0, 0, 0.068), 
    inset 4px -4px 7px rgba(0, 0, 0, 0.068),  
    inset -4px 4px 7px rgba(0, 0, 0, 0.068); 
    --outshadow:5px 5px 20px rgba(0, 0, 0, 0.068),   
    -5px -5px 20px rgba(0, 0, 0, 0.068), 
    5px -5px 20px rgba(0, 0, 0, 0.068),  
    -5px 5px 20px rgba(0, 0, 0, 0.068); 
}
body::-webkit-scrollbar {
    display: none; /* 隐藏滚动条 */
    }
.backbtn{
        cursor: pointer;
        position: fixed;
        text-align: left;
        width: 140px ;
        height: 60px;
        left: -30%;
        margin-top: 10px;
        font-size: 200%;
        z-index: 10;
        transition: left 1s ease , width 1s ease;
        }
#name{
            width: 100%;
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            }
.ui-tooltip {
            border: none !important;
            font-size: 19px; 
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
            padding: 15px; 
            border-radius: 1em; 
            font-weight: bold;
            overflow-wrap: break-word;
        }
#cover-bar{
        border-bottom-left-radius: 1em;
        border-bottom-right-radius: 1em;
        top: -150px;
        position: fixed;
        width: 100%;
        height: 80px;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        z-index: 10;
        transition: top 1s ease;
        box-shadow: var(--outshadow); 
            }
#notify{
                border-radius: 1em;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: fit-content;
                height: fit-content;
                position: fixed;
                top: 30px;
                z-index: 1000;
                opacity: 0;
                transition: opacity 1s ease;
            }
#notifytext{
                padding: 20px;
                font-weight: bold;
                font-size: 20px;
            }
#top-btn{
                cursor: pointer;
                background-position: center;
                background-repeat: no-repeat;
                width: 45px;
                height: 45px;
                backdrop-filter: blur(10px);
                -webkit-backdrop-filter: blur(10px);
              position: fixed;
              bottom: -25%;
              z-index: 10;
              border-radius: 50%;
              transition: bottom 0.7s ease;
              box-shadow: var(--outshadow)
              }