:root {
  --login:url(../../icon/login_grey.svg);
  --loginhover:url(../../icon/login_white.svg);
}
#login-page{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    background-color: #6b7a8125;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 100;
    opacity: 0;
    display: none;
    align-items: center;
    justify-content: center;
    transition: all 1s ease;
    flex-direction: column;
}


.login-input{
  width: 250px;
    height: 40px;
    padding: 15px;
    color: #bfd2db;
    font-weight: bold;
    border: none;
    font-size: 20px;
    background-color: #21232485;
    border-radius: 1.5em;
    box-shadow: inset 4px 4px 7px rgba(0, 0, 0, 0.068),   
            inset -4px -4px 7px rgba(0, 0, 0, 0.068), 
            inset 4px -4px 7px rgba(0, 0, 0, 0.068),  
            inset -4px 4px 7px rgba(0, 0, 0, 0.068); 
}
.login-input:focus{
  outline: none;
  background-color: #4f5e68c4;

}
#backlogin{
  display: none;
  position: fixed;
    top :400px; 
    cursor: pointer;
    background-image: url(../../icon/no_grey.svg);
    width: 40px;
    height: 40px;
    z-index: 101;
    opacity: 0;
    background-position: center;
    background-repeat: no-repeat;
    transition: opacity 1s ease;
}
#backlogin:hover{
    background-image: url(../../icon/no_white.svg);
}
#log-tool{
  width: fit-content;
  height: 60px;
  position: fixed;
  display: flex;
  top: 270px;
  z-index: 101;
}
#logout{
  margin: 10px;
  position: relative;
  cursor: pointer;
  width: 32px;
  height: 32px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../../icon/logout_grey.svg);
}
#logout:hover{
  background-image: url(../../icon/logout_white.svg);
}
#clear-btn{
  margin: 10px;
  position: relative;
  cursor: pointer;
  width: 32px;
  height: 32px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../../icon/clean_grey.svg);
}
#clear-btn:hover{
  background-image: url(../../icon/clean_white.svg);
}
#reconnect{
  margin: 10px;
  position: relative;
  cursor: pointer;
  width: 32px;
  height: 32px;
  background-image: url(../../icon/switch_grey.svg);
  background-position: center;
  background-repeat: no-repeat;
}
#reconnect:hover{
  background-image: url(../../icon/switch_white.svg);
}
.login-box{
  display: none;
    position: fixed;
    top: 300px;
    width: fit-content;
    height: 100px;
    z-index: 102;
    opacity: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 1s ease ;
  }
  
  .login-btn{
    position: absolute;
    right: 10px;
    width: 40px;
    height: 40px;
    background-image: url(../../icon/right_grey.svg);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
  }
  .login-btn:hover{
    background-image: url(../../icon/right_white.svg);
  }
        
       #host-box{
        overflow: hidden;
        width: 100%;
        position: relative;
        height: 50%;
        top: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
        display: none;
        opacity: 0;
        z-index:101;
        transition: opacity 1s ease;
       }
        #ipList{
          position: relative;
          height: fit-content;
          overflow-y: auto;
          display: flex;
          flex-direction: column;
          align-items: center;
            width: 100%;
        }
        .host-btn{
          cursor: pointer;
          position: relative;
          display: flex;
          flex-direction: row;
          border-radius: 1em;
          height: 60px;
          padding: 10px;
            margin-top: 10px;
            background-color: #5a758169;
            color: #bfe9fc;
            width: 80%;
        }
        .host-btn:hover{
          background-color:#8da6b169 ;
        }
        .removehost{
          cursor: pointer;
          position: absolute;
          right: 10px;
          top:10px;
            width: 32px;
            height: 32px;
            background-color:transparent;
            border: none;
            background-image: url(../../icon/no_grey.svg);
            background-position: center;
            background-repeat: no-repeat;
        }
        .removehost:hover{
          background-image: url(../../icon/no_white.svg);
        }
        #ip-status{
          padding: 20px;
          top: 150px;
          position: fixed;
          font-size: 40px;
          width: fit-content;
          height: fit-content;
          color: #585c5e;
          background-color: #44474994;
          border-radius: 1em;
          font-weight: bold;
          z-index: 102;
          animation: ipstatus 1s infinite alternate ease-in-out;
        }
        @keyframes ipstatus {
        0% {
            color: #9fa8ac; /* 第一种颜色 */
        }
        100% {
            color: #444749; /* 第二种颜色 */
        }
    }