.tooltip{
    font-weight: bold;
    border-radius: 15px;
    padding: 10px;
    position: fixed;
    z-index: 999999;
    pointer-events: none; 
    opacity: 0;
    transition:opacity 1s ease;
}
.window{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    width: 80%;
    height: 80%;
    background-color: #6b7a8125;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: none;
    opacity: 0;
    position: fixed;
    z-index: 15;
    cursor: move;
    box-shadow: var(--outshadow);
    transition:opacity 0.7s ease ;
}
.close-win{
    width: 32px;
    height: 32px;
    position: absolute;
    top: 10px;
    left: 10px;
    background-image: url(../../icon/no_grey.svg);
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.7;
}
.close-win:hover{
    opacity: 1;
}
#test{
    position: fixed;
    top: 60px;
    width: 64px;
    height: 64px;
    background-color: bisque;
    z-index: 9999;
}