:root {
    --green-page:#6183718c; 
    --blue-page:#6175838c; 
    --yellow-page:#8380618c; 
    --orange-page:#8378618c; 
    --pink-page:#83617c8c; 
    --red-page:#8361618c; 
  }
.option-page{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    background-color: #6b7a8125;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 100;
    opacity: 0;
    display: none;
    align-items: center;
    justify-content: center;
    transition: all 1s ease;
    flex-direction: column;
}
.list-page{
    border-radius: 15px;
    background-color: #61616167;
    box-shadow: var(--outshadow);
}
#theme-panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 70%;
    height: 80%;
}
#close-theme{
    opacity: 0.7;
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 10px;
    background-image: url(../../icon/no_grey.svg);
    width: 32px;
    height: 32px;
    background-position: center;
    background-repeat: no-repeat;
}
#close-theme:hover{
    opacity: 1;
}
.theme-list{
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    opacity: 0.7;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-top: 50px;
    width: 80%;
    height: 40px;
    border-bottom-color: #424040a1;
    border-bottom-style: solid;
}
.theme-list:hover{
    opacity: 1;
}
.theme-list div{
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
}
.theme-list span{
    margin-left: 10px;
    font-weight: bold;
    color: #bfd2db;
}
#light-icon{
    background-image: url(../../icon/light_grey.svg);
}
#dark-icon{
    background-image: url(../../icon/dark_grey.svg);
}
#ori-theme{
    background-image: url(../../icon/layout_grey.svg);
}
.color{
    position: relative;
    margin-right: 20px;
    min-width: 10px !important;
    min-height: 10px !important;
    border-radius: 50%;
    background-color: antiquewhite;
    border-style:solid; 
    border-color: var(--borco);
}
.color:hover{
    filter: brightness(1.5); 
}
#color-bar{
    overflow-wrap: break-word; 
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-top: 50px;
    width: 80%;
    height: 40px;
}
#default{
    background-color: var(--default);
}
#green{
    background-color: var(--green);
}
#blue{
    background-color: var(--blue);
}
#yellow{
    background-color: var(--yellow);
}
#orange{
    background-color: var(--orange);
}
#pink{
    background-color: var(--pink);
}
#red{
    background-color: var(--red);
}