#content{
    display: flex;
    flex-wrap: wrap;
}
.doc-list{
    display: flex;
    position: relative;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 80px;
    background-color: aqua;
    border-radius: 15px;
    margin-left: 30px;
}
.file-list-text{
    cursor: pointer;
}
.dir-text{
    text-decoration: underline;
}
#top-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}
#go-up{
    background-image: url(../../assets/icon/goup_green.svg);
    margin-left: 10px;
}
.go-up-disable:hover{
    cursor:default;
    opacity: 0.7 !important;

}
#show-path{
    margin-left: 10px;
}