.ui-tooltip {
          background: #4c646d60; 
          color: #c3c6c9; 
      }
      body {
        background-image: url(../../wallpaper/dark/home.svg);
      }
      #home-bar {
        color: #656d79 ;
          background-color: #1e2325d2 ;
      }
      .name{
        background-image: url(../../icon/dark/name.svg);
        
      }
      #lock-page{
        background-color: #3f43445b;
      }
      #home-btn{
        background-color: #36363a8f;
      }
      #home-btn:hover{
        background-color: #0a0a0e73;
      }
      .widget-title{
        color: #9ba9bd;
      }
      .dock-back{
        background: linear-gradient(#4e4f50,#19191a9f);
       }
       #dock{
      background: #bacad42c;
       }
      #topBar {
          background-color: #2b2b2bdc ;
      }
      .bar-btn {
        background-color: #404449d2;
        color: rgb(199, 238, 253);
      }
      .bar-btn.selected {
        background-color: #a8b7be;
        color: #383838;
      }
  
      .bar-btn:hover {
        background-color: hsla(200, 33%, 78%, 0.663);
        color: #20021c;
      }
      #widget1{
        background-image: url(../../wallpaper/dark/green.svg);
      }
      #widget2{
        background-image: url(../../wallpaper/dark/blue.svg);
      }
      #widget3{
        background-image: url(../../wallpaper/dark/yellow.svg);
      }
      #widget4{
        background-image: url(../../wallpaper/dark/orange.svg);
      }
      #widget5{
        background-image: url(../../wallpaper/dark/pink.svg);
      }
      #widget6{
        background-image: url(../../wallpaper/dark/red.svg);
      }
      @media only screen and (max-width: 600px){
        .phone_background {
        position:relative;
        overflow:hidden;
          overflow-x: hidden;
      }
      .phone_background .fixed {
        background:no-repeat center center;
        background-image: url(../../wallpaper/dark/home.svg);
      }
      }