:root {
  --inshadow:inset 4px 4px 7px rgba(0, 0, 0, 0.068),   
  inset -4px -4px 7px rgba(0, 0, 0, 0.068), 
  inset 4px -4px 7px rgba(0, 0, 0, 0.068),  
  inset -4px 4px 7px rgba(0, 0, 0, 0.068); 
  --outshadow:5px 5px 20px rgba(0, 0, 0, 0.068),   
  -5px -5px 20px rgba(0, 0, 0, 0.068), 
  5px -5px 20px rgba(0, 0, 0, 0.068),  
  -5px 5px 20px rgba(0, 0, 0, 0.068); 
}
    .ui-tooltip {
              border: none !important;
              font-size: 19px; 
              box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
              padding: 15px; 
              border-radius: 1em; 
              font-weight: bold;
              overflow-wrap: break-word;
              z-index: 99999999;
          }
          body {
            /* background-color: #1f2324; */
            display: flex;
            box-sizing: border-box; 
            overflow-x: hidden !important;
            justify-content: center;
            align-items: center;
            background-size:cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            flex-direction: column;
            transition: background-image 1s ease,opacity 1s ease ; 
          }
         
          body::-webkit-scrollbar {
            display: none; /* 隐藏滚动条 */
            }
            #lock-page{
              display: none;
              justify-content: center;
              align-items: center;
              top: -300px;
              bottom: 0;
              left: 0;
              right: 0;
              position: fixed;
              z-index: 12;
              transition: top 1s ease,opacity 1s ease;
            }
      #home-btn{
        padding: 7px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: -300px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        transition: top 1s ease;
        box-shadow: var(--outshadow);
      }
      #home-btn div{
        background-image: url(../../icon/power_grey.svg);
        background-position: center;
        background-repeat: no-repeat;
        width: 32px;
        height: 32px;
      }
      #home-bar {
        display: flex;
        font-size: 70px;
        height: 60px !important;
        padding: 10px;
        text-align: center;
        position: absolute;
        width: 100%;
        top: 0px;
        z-index: 10;
        transition: top 1s ease-in-out;
        
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.377),   /* 右下方阴影 */
    -5px 5px 20px rgba(0, 0, 0, 0.377);  /* 左下方阴影 */
      }
      #live2d-widget {
        width: 300px !important;
        height: 300px !important;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed !important;
        top: -300px;
        pointer-events:auto !important;
        bottom: auto !important;
        z-index: 13 !important;
        transition: top 1s ease,opacity 1s ease;
    }
    #live2dcanvas:hover{
      cursor: grab;
    }
    #live2dcanvas{
      width: 300px !important;
      height: 300px !important;
      position: relative !important;
    }
      .name{
        position:absolute;
        cursor: pointer;
        top: 50px;
        background-position: center;
        background-repeat: no-repeat;
        width: 0;
        height: 60px;
        z-index: 11;
        transition: all 1s ease;
        
      }
     #dock{
      min-width: 80px;
      display: none;
      position: fixed;
      bottom: -100px;
      display: flex;
    border-radius: 25px; /* 圆角 */
    padding: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    height: 70px;
    z-index: 8;
    transition: bottom 1s ease,transform 0.3s ease;
     }
     .dock-back{
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      width: 64px;
      height: 64px;
      border-radius: 15px; 
      margin: 0 15px; 
      transition: transform 0.3s;
     }

     .dock-back span{
      display: none;
    }
     .dock-back:hover{
      transform: scale(1.2);
     }
     .dock-back div{
      width: 40px;
      height: 40px;
      background-position: center;
      background-repeat: no-repeat;
     }
     #widget-box{
      flex-direction: column;
      display: none;
      top: 0;
      bottom: 180px;
      position: fixed;
      width: 100%;
      height: 85%;
      opacity: 0;
      transform: scale(2);
      z-index: 10;
      transition: transform 1s ease, opacity 1s ease;
     }
     .widget-line{
      align-items: center;
      justify-content: center;
      flex-direction: row;
      height: 30%;
      width: 100%;
      display: flex;
      position: relative;
      margin-top: 30px;
    }
    .widget{
      opacity: 0.7;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 15px;
      cursor: pointer;
      width: 45%;
      height: 100%;
      margin: 10px;
      margin-bottom: 40px;
      position: relative;
      transition: transform 0.5s ease;
      box-shadow: var(--outshadow);
    }
    .widget:hover{
      opacity: 1;
      transform: scale(1.1);
      z-index: 11;
    }
    .widget div{
      width: 100px;
      height: 100px;
      background-position: center;
      background-repeat: no-repeat;
    }
    #folder{
      background-image: url(../../icon/folder.svg);
    }
    #picture{
      background-image: url(../../icon/picture.svg);
    }
    #monitor{
      background-image: url(../../icon/monitor.svg);
    }
    #trash{
      background-image: url(../../icon/trash.svg);
    }
    #note{
      background-image: url(../../icon/note.svg);
    }
    #bookmark{
      background-image: url(../../icon/bookmark.svg);
    }
    .widget span{
      position: absolute;
      font-size: 15px;
      font-weight: bold;
      bottom: -20px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
     #login{
      background-image: url(../../icon/user.svg);
     }
     #light-icon{
      background-image: url(../../icon/sun.svg);
     }
     #dark-icon{
      background-image: url(../../icon/moon.svg);
     }
     #system{
      background-image: url(../../icon/column.svg);
     }
     #lock{
      background-image: url(../../icon/lock.svg);
     }
      #notify{
        border-radius: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: fit-content;
        height: fit-content;
        position: fixed;
        top: 30px;
        z-index: 1000;
        opacity: 0;
        background-color: #5a758169;
        transition: opacity 1s ease;
    }
#notifytext{
  color: #bfe9fc;
        padding: 20px;
        font-weight: bold;
        font-size: 20px;
    }
 .preview{
  top: -99999px;
  position: fixed;
  display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 15px; 
      z-index: 9999;
 }
 .preview div{
  width: 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
 }
 .preview span{
  display: none;
 }
     
          @media only screen and (max-width: 600px){
            @media only screen and (max-height: 800px) {
            .widget{
              height: 70%;
            }
              #dock{
                height: 60px;
              }
              .dock-back{
                width: 60px;
                height: 60px;
              }
              .dock-icon{
                width: 32px;
                height: 32px;
              }
            }
            .phone_background {
            position:relative;
            overflow:hidden;
              overflow-x: hidden;
          }
          #dock{
            width: 90%;
          }
          .phone_background .fixed {
            position:fixed;
            left:0;
            top:0;
            width:100%;
            height:100%;
            background-size:cover;
              overflow:hidden;
              overflow-x: hidden; 
              z-index: 0;
          }
          
          .next {
            position:fixed;
            left:0;
            top:0;
            width:100%;
            height:100%;
            background:no-repeat center center;
            background-size:cover;
              overflow:hidden;
              overflow-x: hidden; 
              opacity: 0;
              transition: opacity 1s ease ; 
              z-index: 1;
          }
          
            
            #topBar button {
              font-size: 80%;
            }
            #topBar {
              height: 10%;
              padding: auto;
              
            }  
          }
  