:root { 
  --red:#bd9797;
  --green:#97bda5;
  --blue:#97a7bd;
  --yellow:#bdb497;
  --pink:#bd97b2;
  --orange: #bda797;
  --back: url('../../wallpaper/light/home.svg') no-repeat center;
}
.ui-tooltip {
    background: #4c646d60; 
    color: #c3c6c9; 
}
body {
  background-image: url(../../wallpaper/light/home.svg);
}
#home-bar {
  color: #656d79 ;
    background-color: #9ea9add2 ;
}
.name{
  background-image: url(../../icon/light/name.svg);
  
}
#lock-page{
  background-color: #c0d0d65e;
}
#home-btn{
  background-color: #aeaed38f;
}
#home-btn:hover{
  background-color: #d8d8ff8f;
}
.widget-title{
  color: #3a3f46;
}
.dock-back{
  background: linear-gradient(#dfdfee9f,#a1a6aa);
 }
 #dock{
background: #20202073;
 }
#topBar {
    background-color: #d5d7d8ab ;
}
.bar-btn {
  background-color: #afbed1d2;
  color: #2b3033;
}
.bar-btn.selected {
  background-color: #555f64;
  color: #bdd3df;
}

.bar-btn:hover {
  background-color: #555f64;
  color: #bdd3df;
}
.widget{
  background: linear-gradient(#dfdfee9f,#a1a6aa);
}
.dock-btn{
  background-image: url(../../wallpaper/light/home.svg);
}
@media only screen and (max-width: 600px){
  .phone_background {
  position:relative;
  overflow:hidden;
    overflow-x: hidden;
}
.phone_background .fixed {
  background:no-repeat center center;
  background-image: url(../../wallpaper/light/home.svg);
}
}