#dock{
    min-width: 80px;
    display: none;
    position: fixed;
    bottom: -100px;
    display: flex;
  border-radius: 25px; /* 圆角 */
  padding: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  height: 70px;
  z-index: 8;
  transition: bottom 1s ease,transform 0.3s ease;
   }
   .dock-back{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 64px;
    height: 64px;
    border-radius: 15px; 
    margin: 0 15px; 
    transition: transform 0.3s;
   }
   .dock-back span{
    display: none;
  }
   .dock-back:hover{
    transform: scale(1.2);
   }
   .dock-back div{
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
   }
#widget-box{
    flex-direction: column;
    display: none;
    top: 0;
    bottom: 180px;
    position: fixed;
    width: 100%;
    height: 85%;
    opacity: 0;
    transform: scale(2);
    z-index: 10;
    transition: transform 1s ease, opacity 1s ease;
   }
   .widget-line{
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 30%;
    width: 100%;
    display: flex;
    position: relative;
    margin-top: 30px;
  }
  .widget{
    background-blend-mode: overlay;
    background: var(--back);
    opacity: 0.7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
    cursor: pointer;
    width: 45%;
    height: 100%;
    margin: 10px;
    margin-bottom: 40px;
    position: relative;
    transition: transform 0.5s ease;
    box-shadow: var(--outshadow);
    user-select: none; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none;
  }
  .widget:hover{
    opacity: 1;
    transform: scale(1.1);
    z-index: 11;
  }
  .widget div{
    width: 100px;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
  }
  #folder{
    background-image: url(../../icon/folder.svg);
  }
  #picture{
    background-image: url(../../icon/picture.svg);
  }
  #monitor{
    background-image: url(../../icon/monitor.svg);
  }
  #trash{
    background-image: url(../../icon/trash.svg);
  }
  #note{
    background-image: url(../../icon/note.svg);
  }
  #bookmark{
    background-image: url(../../icon/bookmark.svg);
  }


  #widget1{
    background-color: var(--green);
  }
  #widget2{
    background-color: var(--blue);
  }
  #widget3{
    background-color: var(--orange);
  }
  #widget4{
    background-color: var(--yellow);
  }
  #widget5{
   background-color: var(--pink);
  }
  #widget6{
    background-color: var(--red);
  }
  .widget span{
    position: absolute;
    font-size: 15px;
    font-weight: bold;
    bottom: -20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .app{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .panel{
    margin-top: 30px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-left: 15%;
    margin-left: 5%;
    width: 35% !important;
    height: 90% !important;
  }
  .panel-li{
    font-size: 15px;
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;
    font-weight: bold;
    display: flex;
    margin-top: 10px;
    align-items: center;
    text-indent: 20px;
    width: 100% !important;
    height: 60px !important;
    transition: transform 0.3s ease;
  }
  .panel-li:hover{
    transform: scale(1.2);
    color: white;
  }
  .doc-li{
    color: #a7f8e7;
    background-color:#65807b88;
    border-radius: 15px;
  }
  .not-li{
    color: #7c5a7a;
    text-indent: 5px;
    border-bottom: 2px solid #7c5a6a;
  }
  #bok-li{
    text-align: center;
    justify-content: center;
    border-radius: 15px;
    -webkit-clip-path: polygon(100% 0%,100% 50%,100% 100%,0% 100%,25% 50%,0% 0%);
clip-path: polygon(100% 0%,100% 50%,100% 100%,0% 100%,25% 50%,0% 0%);    
    color: #f49f9e;
    background-color: #7e5d5e93;
  }
  #pic{
    border-radius: 15px;
    height: 70% !important;
    width: 100% !important;
    aspect-ratio: 1/1;
    margin-bottom: 20px;
    background-color: #56608388;
    border: 10px solid #567c8388;
  }
  #img{
  width: 100%;
  height: 100%;
  position: relative;
  object-fit: cover;
  }
  #tra-li{
    overflow: hidden;
    text-align: center;
    justify-content: center;
    border-radius: 15px;   
    color: #f4c59e;
    background-color: #7e6c5d93;
  }
  .mon-li{
    font-size: 10px;
    height: 30px !important;
    margin-top: 30px !important;
    color: #ffd9a5;
    margin: 0 !important;
    border: 2px solid #69663d88;
    background-color: #83805688;
    border-radius: 50px;
  }
  #reload{
    width: 100% !important;
    background-image: url(../../icon/name.svg);
  }
 #disk-tol{
  padding: 0 !important;
  display: flex;
  overflow: hidden;
  border-radius: 1em;
  height: 10px !important;
  width: 100% !important;
  margin-bottom: 20px;
  box-shadow: var(--inshadow);
 }
 #disk-bar{
  border-radius: 15px;
  position: relative;
  top: 0;
  height: 100% !important;
  width: 50% !important;
  background-color: #d5f8f0;
 }
 #theme-dis{
  margin-right: 20px;
  border-radius: 15px;
  height: 60px !important;
  width: 60px !important;
  background-color: var(--default);
 }
 #ip-panel{
  width: 100% !important;
  font-size: 40px;
  color: #a7f8e7;
  font-weight: bold;
 }
 .home-text{
  color: #d5f8f0;
  font-weight: bold;
 }#bok-text{
  color: #8a5e5e;
  font-weight: bold;
 }
 #tra-text{
  color: #8a735e;
  font-weight: bold;
 }
   #login{
    background-image: url(../../icon/user.svg);
   }
   #light-icon{
    background-image: url(../../icon/sun.svg);
   }
   #theme{
    background-image: url(../../icon/theme.svg);
   }
   #system{
    background-image: url(../../icon/column.svg);
   }
   #lock{
    background-image: url(../../icon/lock.svg);
   }
   .preview{
    background-color:#6a7081cc ;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
    opacity: 1;
    width: 200px;
    height: 100px;
    pointer-events: none;
    background-blend-mode: overlay;
    top: -99999px;
    position: fixed;
    display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 15px; 
        z-index: 9999;
        transition: all ease;
   }
   .preview div{
    width: 64px;
    height: 64px;
    background-position: center;
    background-repeat: no-repeat;
   }
   .preview span{
    display: none;
   }
   .widget-open{
    background-blend-mode: overlay;
    background: var(--back);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
    position: fixed;
    z-index: 20;
    transition: all 0.5s ease;
   }
   .widget-open div{
    width: 100px;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
   }
   #phone-back{
    background: var(--back);
    display: none;          
   }
   .widget-page{
    display: flex !important;
    opacity: 1 !important;
    cursor: pointer;
   }
   #pre-pic{
    max-width: 70%;
    max-height: 70%;
    box-shadow: var(--outshadow);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
   }
   #pre-note{
    cursor: text;
    overflow: auto;
    word-wrap: break-word;
    padding: 20px;
    border-radius: 15px;
    width: 70% !important;
    height: 90% !important;
    background-color: var(--pink-nor);
   }
   #pre-note span{
    color: #ebb4ce;
    font-weight: bold;
   }
   #pre-bok{
    width: 100px !important;
    height: 60px !important;
    border-radius: 15px;
    -webkit-clip-path: polygon(100% 0%,100% 50%,100% 100%,0% 100%,25% 50%,0% 0%);
clip-path: polygon(100% 0%,100% 50%,100% 100%,0% 100%,25% 50%,0% 0%);    
    background-color: #7e5d5e93;
   }
   #pre-doc{
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    word-wrap: break-word;
    padding: 20px;
    border-radius: 15px;
    width: 70% !important;
    height: 90% !important;
    background-color: var(--green-nor);
  }
   .loading {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    border: 2px solid #bfd2db;
    border-top-color: #69767c;
    border-right-color: #69767c;
    border-bottom-color: #69767c;
    border-radius: 100%;
    animation: loading infinite 0.5s linear;
  }
  .file-preview{
    display: flex;
    flex-wrap: nowrap;
    background-color: transparent;
    width: 100%;
    height: 100%;
    box-shadow: var(--outshadow);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .list-preview{
    margin: 5px;
    color: #a7f8e7;
    font-weight: bold;
    padding: 5px;
    border-radius: 15px;
    width: fit-content;
    height: fit-content;
    box-shadow: var(--outshadow);
  }
  #ip-li{
    border-radius: 25px;
    background-color: #242b2cb6;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
   @media only screen and (max-width: 600px){
    @media only screen and (max-height: 800px) {
    .widget{
      height: 70%;
    }
      #dock{
        height: 60px;
      }
      .dock-back{
        width: 60px;
        height: 60px;
      }
      .dock-icon{
        width: 32px;
        height: 32px;
      }
    }
  #phone-back{
    width: 100%;
    height: 100%;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    position: fixed;
    display: block;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-blend-mode: overlay;
  }
  }